[2021-03-04 14:21] dlorenc opened #6 "Cert Transparency"
Fulcio will need to log certs to a CT log. Given our non-standard usecase, it probably makes sense for this to be a new one rather than an existing one (although a cert is a cert...). Has anyone given thought to this yet? We could run the log as part of rekor (same DB, different log) or a different service.

It will need a public API, probably https://tools.ietf.org/html/rfc6962

* https://<log se

[2021-03-04 15:32] lukehinds commented on #6
I was guessing this could be handled by types and some of the x509 code there, so like you say, same rekor, but a different tree / DB.

[2021-03-04 15:45] lukehinds commented on #6
edit: alongside the additional handlers.

[2021-03-07 14:58] dlorenc opened #12 "Root CA Protection"
Right now we have one root CA configured in GCP Private CA. We could improve this a bit:

Some high-level suggestions:

### Add an intermediary, and keep the root disabled.

The root could then be "enterprise" which comes with auditing.

### Have **multiple** roots, across multiple providers/HSMs.

A majority would be required to sign any new intermediate for it to be trusted.
This is TUF-style an

[2021-03-07 14:59] dlorenc opened #13 "Basic Logging/Monitoring"
Same stuff we have in rekor:
- [ ] Structured logs to stdout, ingested into stackdriver with working error levels
- [ ] Metrics on latency, new certs issued, etc.
- [ ] Alerts on all of the above.
- [ ] Test probers running against prod

[2021-03-07 15:00] dlorenc opened #14 "Prod hygiene"
Setup deployment flows and staging environments.

[2021-03-07 15:03] dlorenc opened #15 "Pubsub/Bigquery"
Same as: https://github.com/sigstore/rekor/issues/191

[2021-03-08 15:17] dlorenc commented on #12
cc @mnn678

[2021-03-08 15:42] dlorenc opened #22 "Figure out how to support other OIDC providers"
There's no canonical mapping of email address to authoritative OIDC provider. This means we can't just let users provide their own configs. For example:

* Someone could stand up their own OIDC instance and issue tokens for any email address, if we trusted all providers blindly we would mis-issue certs.
  * We would be able to detect this and recover from it with transparency logs, but it's still

[2021-03-09 13:32] bobcallaway commented on #22
Note here for myself and others: the `email_verified` claim simply notes that when verification was requested, the provider was able to successfully verify ownership of the email account... however this could have been quite some time in the past and as such isn't sufficient to trust a claim.

[2021-03-10 16:53] dlorenc opened #28 "Intermediate CA plans"
Here's one idea on how we can federate - https://twitter.com/gustavonarea/status/1369563159556669442?s=19

We'd grant specific OIDC providers that we trust an intermediate cert. We can manage them automatically for the big OIDC providers we trust, and establish criteria for other ones we want to delegate to.

[2021-03-12 08:23] lukehinds opened #34 "Handle fulcio CA credentials in CI"
We need to find a way to handle credentials in CI

https://github.com/sigstore/fulcio/pull/32/checks?check_run_id=2088067630#step:9:12

Perhaps a github secret

[2021-03-12 20:52] dlorenc commented on #34
Fixed it for now in #37

[2021-03-12 20:52] dlorenc opened #38 "Error handling/formatting"
For some reason the errors we return to clients cause them to barf parsing JSON. I think @bobcallaway fixed this in rekor with typed error messages, but I can't remember how.

[2021-03-13 03:55] #34 closed

[2021-03-15 02:20] dlorenc opened #42 "Figure out how to handle the CT log proofs in clients"
The simplest way seems to be the "precertificate" method, here: https://letsencrypt.org/2018/04/04/sct-encoding.html

We request two certs from the CA - a "precertificate" and the real one. The precertificate is "poisoned" with a special bit set: https://github.com/google/certificate-transparency-go/blob/v1.1.1/x509/x509.go#L1208

Then that is included in the log. When that is finished, the SCT (s

[2021-03-15 12:32] dlorenc opened #43 "Log rotation"
Figure out our strategy for log rotation. Ct logs get cut off and rotated each year.

[2021-03-15 12:54] lukehinds commented on #6
closed from https://github.com/sigstore/fulcio/commit/b2b05a00f104c580bd0ecb44889dfb6d371eb857

[2021-03-15 12:54] #6 closed

[2021-03-15 14:54] dlorenc opened #44 "Capture the IDP somewhere in the cert"
We should log **who** said the challenge was correct somewhere. So instead of just a cert issued to an email, we say "google validated the identity token", in case of an issue with the OIDC providers.

[2021-03-15 19:30] dlorenc opened #46 "Search certs by public key"
Right now it's hard to search for certs by public key. You can search by hash or timestamp in the normal protocol. We could add a new index to the CT log or write our own index/searcher.

[2021-03-15 22:05] priyawadhwa opened #48 "fulcio client: json: cannot unmarshal object into Go value of type string"
I'm trying to run fulcio locally with

[code]
as described in [DEVELOPMENT.md](https://github.com/sigstore/fulcio/blob/development/config/DEVELOPMENT.md).

I'm able to get the server running, but running the client is failing with this bug:

[code]

Interestingly, it seems to pass with fulcio prod but fail with fulcio locally, so I'm guessing something was merged recently which broke this behavior

[2021-03-15 22:06] lukehinds commented on #48
I am pretty sure I got this when I never had gcloud auth to the certificate hosting service..let me double check

[2021-03-15 22:38] priyawadhwa commented on #48
Thanks, I double checked the permissions and they should be valid. I  chatted with @dlorenc and he mentioned it might be because the ct log only allows certs signed by the real root CA!

[2021-03-15 23:30] dlorenc commented on #48
Bob's #47 should make this error message much nicer

[2021-03-16 12:07] dlorenc commented on #44
From @bobcallaway:

I'm not sure we should store the other one, I'll have to think about it. If multiple email addresses are tied to the same identifier, we probably don't want to track that.

[2021-03-16 19:54] #38 closed

[2021-03-18 08:06] lukehinds opened #52 "Document OIDC flow"
Outline the OIDC protocol flow in UML or similar. This should/could include various client operations and values such as the `oidc-client-id` & `oidc-client-secret`, how the email challenge occurs (PubK[email]), how fulcio interacts with the various IDPs , what are the redirect urls, how are the scopes requested and utilised.

This should be sufficent enough in description so that anyone wanting t

[2021-03-19 16:01] joshuagl commented on #12
ITYM @mnm678

[2021-03-23 07:51] lukehinds opened #56 "Refactor client side code"
refactor client side code and make it easier to access from clients. currently there is a fair amount of code in root.go (such as OIDC code, key creation), these should be put into their own pkgs so other clients such as cosign / sigstore can utilize and we can have a common set of tests running in fulcio CI rather then replicated in each client repo.

[2021-03-24 00:39] endorama opened #57 "`make` command require `swagger` cli"
Trying to run `make` produce an error due to `swagger` not being found.

[code]

I'm not sure how I'm supposed to install it, I'd like some guidance. Happy to improve the docs with a PR.
Thanks!

[2021-03-24 02:41] dlorenc commented on #57
Great point! There was some trickiness regarding exact versions before, but I'm not sure how much that matters now. Here's what our github actions code does to install it:

https://github.com/sigstore/fulcio/blob/development/.github/workflows/main.yml#L30

Does that work for you?

[2021-03-25 12:00] dlorenc commented on #12
Thanks!

Update, we're working on a plan to distribute and manage a set of hardware keys among community members to sign and protect the root TUF metadata. A quorum will be needed to do anything, and we'll have documented plans for rotation, replacement, destruction, etc. Update soon!

[2021-03-25 13:42] endorama commented on #57
Yes thanks! Should I make a PR to amend the docs?

[2021-03-25 14:15] dlorenc commented on #57
Sure, if you're up for it!

[2021-03-25 17:03] priyawadhwa commented on #42
So for this to work, the precert we get from the CA has to be identical to the cert we get from the CA except for the one extension. I closed #55 because it looks like the GCP CA doesn't let you specify the serial number of the cert, so the numbers on the precert and the cert can't match 😞

Closed the PR for now, but possible solutions:

1. If we set up an intermediary CA that allows us to specify

[2021-03-26 16:39] endorama opened #62 "building fulcio server complains about missing go.sum in github.com/coreos/go-oidc/v3/oidc"
After #57 trying to build the project I encountered an error:

[code]

Easy workaround is to run the provided command (`go get github.com/sigstore/fulcio/pkg/generated/restapi`) but I was wondering if this is expected or should be fixed.

I'm a bit confused about go getting part of the package I'm trying to build locally and what side effects this may produce.

[2021-03-27 19:49] dlorenc commented on #62
Yeah that is strange. What version of go are you using? I know a lot has changed here in Go 1.16.

[2021-03-27 19:53] dlorenc opened #64 "Clean up the old fulcio deployment"
We changed to the new dex-enabled one by default, we should delete the old one after the next cosign release goes out.

[2021-03-28 19:17] dlorenc commented on #42
cc @mmalone any ideas here? Might be time to read all that stuff you sent me about setting up the step CA :)

[2021-03-28 19:20] dlorenc opened #65 "Define certificate semantics"
Basically, resolve my TODO here: https://github.com/sigstore/fulcio/blob/development/pkg/ca/ca.go#L63

We should write this up into a basic spec.

- What fields must be set for something to be a valid code signing cert by sigstore clients
- How does expiry work?
- What "timestamp" proofs are acceptable?
- How does chain validation work? What can intermediate certs do?

And probably much more!

I k

[2021-03-29 12:52] endorama commented on #62
I'm using `1.15.10`. I tried cleaning the package with `go clean -i` but the error now does not show up anymore. Any idea how can I revert go packages to the status before the `go get` (other than `go clean`)?

[2021-03-29 12:58] dlorenc opened #66 "Design: Allow (permanent?) binding of hardware tokens to OIDC accounts"
In https://github.com/sigstore/cosign/issues/108, we're discussing support for yubikey and other PIV devices in our signing clients.

One feature of these devices is that they can produce a hardware-bound attestation certificate with a unique serial number from the manufacturer. It might be interesting to allow Fulcio's root CA to issue a longer-term device certificate that can bind these devices

[2021-03-29 13:01] #57 closed

[2021-03-29 13:07] dlorenc commented on #62
Whoa, no idea. I didn't even know there was a `go clean` command!

[2021-04-01 15:03] endorama commented on #62
So I'm not able to reproduce this anymore to find the cause or troubleshoot it.

Feel free to close it then and thanks for the help.

[2021-04-01 16:55] dlorenc commented on #62
Thanks for trying!

[2021-04-01 16:55] #62 closed

[2021-04-03 22:17] elinesterov commented on #12
I'm happy to help with the design of this with practices Ideas we use internally for our own HSM and root of trust management.

[2021-04-03 22:35] dlorenc commented on #12
Thank you! That would be great. Here's our current working plan: https://docs.google.com/document/d/1dJ5JNyLcuB6Fbl7eV5Rx8xlXdgic2thMFSseq4Y-pRo/edit?resourcekey=0-amsoXrePIvR2244GSTxeOw

(shared with sigstore-dev, feel free to request access though if you're not in it)

[2021-04-05 11:10] lukehinds opened #76 "Implement version flag"
In accordance with https://github.com/sigstore/community/issues/16, implement a version flag

[2021-04-07 17:15] priyawadhwa commented on #48
This has been resolved, closing!

[2021-04-07 17:15] #48 closed

[2021-04-13 18:35] lukehinds opened #80 "Allow attestation of fulcio claims"
Establish how we can provide a method for verifiers to attest fulcio grants actually come from a real OpenID Provider.

Currently we store the signers email address into the signing certificates, but there is no way for a verify / attest that email was provided by an OpenID Provider and not entered by fuclio with no grant being performed.

I am not sure if it possible to do this with OAUTH at pres

[2021-04-13 18:40] dlorenc commented on #80
I think this is basically the role of the transparency log and monitors. I'm not sure we can do much else but I'd love to hear ideas.

[2021-04-13 19:15] lukehinds commented on #80
Yup, the transparency logs tell us that fulcio entered X email into a cert at specific time, but we still have no guarantees that the user granted fulcio access to the scope (if a third entity wants to later attest the claimed grant happened).

I don't understand OAUTH to well yet, but I am thinking alongside the email and pub key that goes into the signing request, we also include a token of some

[2021-04-14 12:34] bobcallaway commented on #80
The only thing I can come up with is to store the entire signed ID token as an X509 extension in the signing certificate. This would allow an auditor to independently verify that the OIDC provider signed the token, but has some potential security and privacy implications that we would need to think through.

[2021-04-14 13:06] lukehinds commented on #80
can the identity be extracted from the token?

[2021-04-27 14:05] dlorenc opened #84 "Certificates based on machine identity"
This would be really useful to get a full "keyless" experience in automated CICD systems like Tekton Chains.

I can think of a few distinct use cases:

# Internal Identity

For artifacts built in internal systems, only intended for internal consumption, the identity of a machine is a little bit simpler.

We can do something like SPIFFE and manage machine identity within an internal, local "trust d

[2021-05-08 10:54] #56 closed

[2021-05-10 08:31] letmaik opened #92 "client fails without X session"
[code]

[2021-05-10 09:43] letmaik commented on #92
Running on a remote vm.

[2021-05-11 10:04] lukehinds commented on #92
We do this in the ruby client as yet, the key thing though is the VM or container has a port open for the redirect_url to kick back the token and scope. Might be worth having some sort of connection failure err if that happens.

[2021-05-13 12:33] letmaik opened #95 "Usage outside of sigstore"
The fulcio client code recently moved from this repo to the sigstore cli in the sigstore repo. I think fulcio is useful on its own as well, independently of rekor. The sigstore cli (correct me if I'm wrong) currently doesn't allow to just retrieve a fulcio cert without signing and sending to rekor.

Is fulcio intended to stay as an independent service? If so, does it make sense to have a stand-alo

[2021-05-13 12:45] dlorenc commented on #95
Hey @letmaik! Great question. We can certainly put the command line client back here if you find it useful. The move was mainly about code organization and to prevent cycles, we want all shared logic to live in sigstore/sigstore.

Fulcio could certainly import that back here and ship a standalone CLI if it makes sense to you. Just curious - what use cases do you have in mind?

[2021-05-13 12:48] lukehinds commented on #95
sigstore/sigstore is the generic framework that other go-clients can utilise, for example cosign imports from sigstore. The reason for this is we ended up having duplicated code in different clients all inheriting from the server code (which should not really have client code).

The issue with decoupling fulcio from the tlogs, is you lose trust guarantees  and accountability around fulcio. What di

[2021-05-13 13:28] letmaik commented on #95
I don't want to decouple fulcio from its certificate tlog (CT log), only from the artifact tlog. The main motivation is that different kinds of tlogs (not just rekor) may be used in combination with fulcio.

[2021-05-13 15:33] dlorenc commented on #95
What type of command-line API are you imagining? It's a bit tricky if we assume the keys are always in memory. The 10m expiry does give some flexibility here for keys on disk. Something like:

[code]

Where the `fulcio cert` command would do the normal OIDC flow and add the cert to the CTFE log?

I think the other missing piece would be a TSA to make sure you used the private key when the cert was

[2021-05-13 20:11] letmaik commented on #95
Yes, this makes sense to me. That's the kind of interface I was looking for. I guess you would print all diagnostic messages including the OIDC URL to stderr in this case.

Regarding TSA, good point, or alternatively something similar to what rekor is doing. If I understand rekor correctly, then for a client to validate an artifact signature it must also have the inclusion proof for the rekor log,

[2021-05-14 00:53] dlorenc commented on #95
Cool! Yeah this sounds like a useful addition. The client code that was in here was really just for testing and didn't actually even give users a way to get the private key before disposing of it, which is the main reason it was removed as part of the refactor.

Is this something you're interested in contributing?

Re: rekor - that's close-ish. Rekor doens't check the cert timestamp, but the signe

[2021-05-14 05:05] lukehinds commented on #95
I guess we could have a `-no-rekor` flag and wrap a conditional around the rekor http client POST.

[2021-05-14 12:45] dlorenc commented on #95
I don't think we would need it - if `fulcio-cli` acts on existing keys and retrieves certificates, nothing is actually generating signatures so we'd have nothing to upload to rekor anyway. You could always chain a pipeline together:

1. make a keypair with openssl or something
2. use `fulcio-cli` to get a cert
3. Sign something with the key from step 1 using openssl or something
4. Use rekor-cli t

[2021-05-15 15:48] letmaik commented on #80
Token signing certs are typically rotated daily and are self-signed, so in addition to the token itself you would also have to keep an attested record of the JWKS document that was fetched from the OpenID provider and used during ID token signature validation: https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration (follow `jwks_uri`). And probably the TLS certs as well. If

[2021-05-17 11:26] letmaik commented on #95
@dlorenc I think this flow makes sense. The stand-alone client would probably be needed as well with https://github.com/sigstore/fulcio/issues/84, where you would use fulcio just to provision the signing cert, and the actual signing will happen at a later point in time.

[2021-05-17 11:44] dlorenc commented on #95
Awesome! Let me know if you want to take this on, I'm happy to help get it merged!

[2021-05-19 12:20] dlorenc commented on #80
Any thoughts here? This is the big one I'm worried about doing. Email addresses can change - but most OIDC providers also include some kind of immutable identifier that won't change across email address changes. This could be used to track people.

I'd love to do this for transparency, but don't have a solution to the privacy issue.

[2021-05-20 21:34] dlorenc opened #100 "Figure out how to properly configure multiple OIDC issuers"
#96

Right now we're fine with a single "audience" or "client id" field across our issuers, but it's possible we might need different ones (and even client secrets) for each individual one.

[2021-05-23 00:44] dlorenc commented on #46
This has been fixed over in rekor.

[2021-05-23 00:44] #46 closed

[2021-05-24 16:57] dlorenc commented on #44
Ah yeah - we can find a field for this or use our own OID.

[2021-05-29 14:26] cpanato opened #106 "Fulcio 0.1.0 Release Planning"
**Description**

Release of fulcio v0.1.0

- [x] Modular CA
- [ ] ~Fuclio Client https://github.com/sigstore/fulcio/issues/95~

* planned date
   - 07/Jul/2021

[2021-05-29 14:27] cpanato commented on #100
fixed by https://github.com/sigstore/fulcio/pull/105

closing

[2021-05-29 14:27] #100 closed

[2021-05-29 14:27] cpanato commented on #22
fixed by https://github.com/sigstore/fulcio/pull/105

closing

[2021-05-29 14:27] #22 closed

[2021-06-01 14:40] lukehinds opened #109 "implement modular CA"
as per #107 , implement a modular layer for CA / HSM integration.

[2021-06-01 14:58] dlorenc commented on #109
I think the "lowest common denominator" API here is to switch from these protobufs to using CSRs for the API format. The "transport" layer for where to send the CSR would vary, but that's easier to make pluggable.

[2021-06-01 16:46] mmalone commented on #109
Consider factoring out the HSM/KMS backend code from `step-ca` for this: https://github.com/smallstep/certificates/tree/master/kms

[2021-06-01 16:56] mmalone commented on #109
/cc @maraino who wrote the above code and may have thoughts on how reusable it is.

`step-ca` can also run as a _registration authority_ with a backing CA. We use a different interface for this, which may also be reusable for Fulcio. That code is at https://github.com/smallstep/certificates/tree/master/cas.

[2021-06-01 18:02] dlorenc commented on #109
It would be nice to handle at least the following:

- in memory/k8s secret with the root key (mostly for testing I guess)
- a root key in a KMS
- pkcs11/softHSM
- any other cloud providers people are interested in?

[2021-06-01 18:02] dlorenc commented on #109
Oh, k8s even has its own basic CA.

[2021-06-01 18:39] lukehinds commented on #109
I think they are using cfssl? (I might be wrong there as its a while ago since I looked)

[2021-06-01 18:45] lukehinds commented on #109
it could be handy to add AWS Certificate Manager Private Certificate Authority

My main want is SoftHSM via miekg/pkcs11 and I expect thalesignite/crypto11 to expose the crypto.Signer interface.

[2021-06-01 19:00] maraino commented on #109
I'm the main the package that @mmalone mentioned, https://github.com/smallstep/certificates/tree/master/kms.

This provides a common interface for different KMS/HSMs:
* AWS KMS
* Google CloudKMS
* PKCS11 (SoftHSM, YubiHSM, ... using thalesignite/crypto11)
* SoftKMS (using a key in memory or in a file)
* Yubikey
* ssh-agent (although this might not support everything)

The [main interface](https://

[2021-06-01 19:08] lukehinds commented on #109
@maraino , have you considered Google Certificate Authority Service as well?

Just thinking that could mean that we possibly have smallstep/certificates/kms as a main interface to abstract the ca / hsm coverage we need?

[2021-06-01 19:15] maraino commented on #109
@lukehinds Yes, and there's an implementation for it too, but it's in the case package, so it uses a different interface, the basic interface is [this](https://github.com/smallstep/certificates/blob/35ede74ea7d397e9fe3dd2766299d8da5028024f/cas/apiv1/services.go#L10-L14)

[code]

And there are some extra methods that allow retrieving the root certificate, or even create a full PKI on Google CAS

[2021-06-01 19:18] maraino commented on #109
Yes, AWS KMS is this https://aws.amazon.com/kms/ I haven't look into AWS CM, but I assume an implementation would be more like the CAS one above.

[2021-06-01 19:33] mmalone commented on #109
We have [integrated with GCP CAS](https://github.com/smallstep/certificates/blob/master/cas/cloudcas/cloudcas.go). But that's a "CA Backend" service, not a "Key Management Service". The primary difference is that a CA backend accepts a CSR and returns a certificate whereas a key management service / hardware security module (KMS/HSM) exposes a lower-level signing API where you send bytes and get a

[2021-06-03 07:31] lukehinds opened #111 "Add details on config file"
We support a config file (default being `/etc/fulcio-config/config.json)

Provide examples of how to utilise (schema structure, flags that can be used etc)

[2021-06-03 16:56] lukehinds commented on #95
@mbestavros is going to work on this

I wonder if this should be on it's own sigstore/fulcio-cli , I say this in consideration that we just refactored all the client code out, so I would like to keep to that state of play.

[2021-06-04 13:02] bobcallaway commented on #109
a related question - does `step-ca` deal with precertificates?

[2021-06-04 18:43] maraino commented on #109
We have an old branch that supports CT and creates precertificates for it. Right now we can generate a precertificate if you add a custom template like this one:
[code]

[2021-06-15 20:44] priyawadhwa opened #119 "Return SCT when a cert is generated"
We have this TODO to actually return the SCT when a cert is created:

https://github.com/sigstore/fulcio/blob/1046134387c8a713bd1c7d1917681660b4836529/pkg/api/signing_cert.go#L93

If we started doing this, we could use the SCT to verify the cert is in the CT log. This would be the final piece of validation for cosign bundling to be finished!

[2021-06-15 20:47] priyawadhwa commented on #119
Not entirely sure if it would be OK to just change the API and return the SCT, right now we just return a string:

https://github.com/sigstore/fulcio/blob/39dcd1a29cc99cfaed12ecc8e5d329014274187d/openapi.yaml#L48-L51

We could return the SCT as a JSON-encoded string and not have to change the API spec, but I don't love that option.

[2021-06-16 11:45] bobcallaway commented on #119
as soon as we have https://github.com/sigstore/sigstore/pull/70 or https://github.com/sigstore/sigstore/pull/69 resolved (which should be pretty soon) I'll push up a patch to include the SCT in the final certificate we issue.

[2021-06-22 00:54] dlorenc opened #122 "SPIFFE ID Federation Planning"
We now have support for SPIFFE IDs, and federation through https://github.com/sigstore/fulcio/pull/107!

This means we can issue certs for subjects like `spiffe://somedomain.com/foo/bar`, and authenticate them against an OIDC endpoint. Right now we require that the OIDC endpoint be at or above the same (sub)domain of the SVID. An OIDC endpoint of `foo.com` can grant SVIDs for `bar.foo.com`, but no

[2021-06-22 01:01] dlorenc commented on #122
cc @asraa - we need something similar for our TSA certs.

[2021-06-22 18:55] mbestavros commented on #95
I've opened a PR with my first stab at this here: https://github.com/sigstore/fulcio/pull/123 -- feedback welcome!

[2021-06-28 11:25] letmaik opened #126 "SPIFFE JWT token security when talking to public Fulcio directly"
The document at https://github.com/sigstore/community/blob/main/docs/zero-trust-supply-chains.pdf says:

request short-lived certificates from the public Fulcio instance directly. The organization
operating the build service can register with the public Fulcio by uploading their root trust
domain certificate and the SPIFFE ID corresponding to the workload for the build server,
something like spiff

[2021-06-28 12:27] dlorenc commented on #126
How would the x509 SVIDs work here? I get the concern with replay attacks, but I think that's partially mitigated by using a custom audience field and the short expiration time.

[2021-06-28 12:29] dlorenc commented on #126
See here for the audience field: https://github.com/spiffe/spiffe/blob/main/standards/JWT-SVID.md#32-audience

[2021-06-28 13:03] letmaik commented on #126
Audience would work but only if you get a fulcio-specific token which I think is not how SPIFFE works. I think it issues SVID documents (JWT/X509) periodically to the workload/VM/... but not on demand scoped to some specific use case. So, you get a SVID that's scoped to all the systems you need to access. Please correct me if that's wrong, I'm not fully sure.

X509 SVIDs act as mutual TLS auth cer

[2021-06-28 13:17] dlorenc commented on #126
I don't think that's correct. See here for how to pass in an audience to the workloadAPI FetchJWTSVID call:
https://pkg.go.dev/github.com/spiffe/go-spiffe/v2/workloadapi#FetchJWTSVID

[2021-06-28 13:43] letmaik commented on #126
You're right, makes sense. In that case it's "just" the replayability. If fulcio accepts TLS connections directly (not via an L7 load balancer) then it shouldn't be too hard to switch to X509 SVIDs.

[2021-06-28 13:55] dlorenc commented on #126
We currently terminate ssl at the load balancer level.

What's the exact threat model? The requests are over TLS so I'm not sure I understand the MITM concern for stealing a SVID.

We could always work around replay concerns some other way with an in memory cache or a 1-1 relationship between SVIDs and issued certificates.

[2021-06-28 14:17] letmaik commented on #126
The attack could be done by someone with access to the platforms where the load balancer or Fulcio is running. So either an inside attack or an outside hack. But given that monitors/auditors currently can't validate Fulcio's honest operation (Fulcio has to be trusted to only issue certs if an authentication took place), fixing this particular replay problem wouldn't help much anyway. I'm happy to

[2021-06-28 14:19] dlorenc commented on #126
Thanks - I think you're correct overall, and this is eventually the role of the CT log Fulcio issues certs to. All Fulcio behavior should be auditable using these logs, so any misbehavior could be detected.

Combined with the Rekor log, you can actually trace any Fulcio misbehavior all the way from a mis-issued certificate to the artifacts that were signed, allowing for very fine-grained revocatio

[2021-06-28 14:30] #126 closed

[2021-07-01 07:08] lukehinds commented on #106
@cpanato let's shoot for next week, keep your Thursday morning free and I will walk you through the signing process.

[2021-07-01 07:12] cpanato commented on #106
@lukehinds added in my agenda!

[2021-07-04 15:36] dlorenc commented on #80
cc @raesene as discussed in Slack.

We should figure out how to get the OIDC provider name into the cert somewhere asap. There's gotta be some OID that makes sense to use :)

[2021-07-04 19:00] dlorenc commented on #44
ref #80 as well.

[2021-07-05 10:21] raesene commented on #44
Just to expand on what my thought from Slack, what I was thinking about is the threat model where an attacker is able to register an e-mail address at one of the providers that a user doesn't have an account on, and then sign an artifact using that identity.

Addressing this at a basic level seems like it needs a couple of things:

- The OIDC provider used to authenticate the user needs to be reco

[2021-07-07 11:30] 06kellyjac commented on #106
congrats on tagging `0.1.0` 2 hours ago :tada:

One thing I noticed is it was tagged without the `v` prefix which is different to the other sigstore projects. Is fulcio going to stay without the `v` prefix or was it a mistake?

[2021-07-07 11:35] cpanato commented on #106
I think I missed the `v` :(

[2021-07-10 23:58] dlorenc commented on #122
Let's create a directory (in this repo for now) that will contain entries. For each entry, let's have:

- A contact email
- The OIDC endpoint
- The expiration date for the entry (can be bumped)
- A text description of the use-case for certificates

[2021-07-26 08:43] lukehinds opened #150 "Issue with HSM generated key type"
Don''t have the resolution just yet, but opening this to track

[code]

[2021-07-26 09:30] #106 closed

[2021-07-26 14:47] #150 closed

[2021-07-28 11:03] 06kellyjac opened #152 "help calls itself `fulcio-server` but the release is `fulcio`"
**Question**

`--help` calls itself `fulcio-server` but the release is `fulcio`, which should it be?

we're currently renaming it `fulcio-server` in nixpkgs
https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/security/fulcio/default.nix#L21

[2021-07-28 11:15] cpanato commented on #152
I will fix that in the next release

[2021-07-28 18:31] tharun208 commented on #76
@lukehinds, I like to work on this.

[2021-07-29 14:04] dlorenc commented on #84
Closing! We have the SPIFFE support now. #139

[2021-07-29 14:04] #84 closed

[2021-07-29 14:07] dlorenc commented on #28
For this, let's get started with a similar plan that we did in #139. Instead of trusting an OIDC endpoint directly, we can sign a CA cert in fulcio.

We'll need a basic PR sent my organizations with:

- The CSR they want us to sign
- What it will be used for
- Contact info
- Renewal period
- Some way to constrain the subjects of the short-lived certs that can be issued with this intermediate (a sp

[2021-07-30 13:02] letmaik commented on #80
I looked a bit more in detail at this. What we're talking about is the `sub`  (subject) claim of the ID token.

For Google, this is a globally unique account identifier. For Microsoft, it is a per-oauth-app unique account identifier, so you can't correlate the identifier across oauth apps but you can still correlate emails if they use fulcio with both the old and new email address from the same ac

[2021-07-30 13:23] letmaik opened #157 "Don't request `profile` scope from IdPs in https://oauth2.sigstore.dev/auth"
For some reason, the OIDC proxy provider https://oauth2.sigstore.dev/auth requests `profile` scope against Google and Microsoft. It shouldn't do that, `openid email` is enough.

Side-note: Is this proxy provider going to stay? It seems like it would complicate the whole attestation story even more, see https://github.com/sigstore/fulcio/issues/80.

[2021-08-08 23:34] dlorenc commented on #157
Thanks for the pointer! I think we need profile for GitHub, we'll have to check whether we can configure the scopes for each provider.

@bobcallaway is on vacation for another week, he's been evaluating whether we'll keep the proxy, move to another one, or remove it.

[2021-08-10 13:23] bobcallaway commented on #157
I've fixed the google scopes, but fixing the MSFT ones will require a code change.

And yes, you're correct that having a proxy provider does complicate the attestation story a bit, but it does have some benefits as well. As Dan noted, I'm working on a doc that will compare/contrast the alternatives here and will post it for community feedback shortly.

[2021-08-10 17:20] bobcallaway commented on #157
MSFT is now fixed as well at https://oauth2.sigstore.dev/auth

[2021-08-19 16:01] lukehinds commented on #109
closing as fulcio has a modular system in place now

[2021-08-19 16:01] #109 closed

[2021-08-19 16:02] lukehinds commented on #157
can we close ?

[2021-08-19 16:03] lukehinds commented on #95
closing , open again if needed.

[2021-08-19 16:03] #95 closed

[2021-08-27 19:59] Ruwa353 opened #172 "What are you wondering about?"
**Question**

[2021-08-27 20:00] Ruwa353 opened #173 "Mentorship request for <your-name>"
**About**

**Skills**

**Interest areas**

[2021-08-28 21:40] bbockelm opened #174 "Support for a non-public client?"
The OIDC flow used by fulcio / cosign appears to be limited to public OAuth2 clients.  That is, `cosign` is both the OAuth2 client and the user client, acquires the OIDC ID token, and sends it to `fulcio` (which is the relying party).

This is a bit limiting as it limits fulcio to issuers that support public clients (and PKCE).

Was there ever any consideration of alternate OIDC setups?  For examp

[2021-08-30 15:52] dlorenc commented on #174
Could you explain the use case a bit more? I'm not sure I fully understand it, but it sounds like something we'd like to support.

[2021-08-31 13:48] bbockelm commented on #174
Sure!  For the academic community, the relevant identity is not the Google account but rather the ORCID; associating a container image with a random Google account has no impact in the community whereas the ORCID (example: https://orcid.org/0000-0003-2981-3809) is associated with the papers I publish and the grants I write -- that's a real currency.

However, like a number of identity providers, i

[2021-08-31 14:10] dlorenc commented on #174
Ah I see. cc @bobcallaway. I think we do actually support this flow because Fulcio uses a hosted Dex instance for the actual token exchanges. We'd be able to configure a real client secret there.

[2021-08-31 17:05] bbockelm commented on #174
Yes, there's no problem with configuring a client secret in Fulcio itself (in fact, I started down this route, hoping to open a PR instead of an issue!) -- but part of the problem is the auth between cosign<->Fulcio.  In the current setup, `cosign` is an OAuth2 client and an end-user application whereas Fulcio is simply a relying party.  To make `cosign` only an end-user application (and make Fulc

[2021-08-31 17:33] bobcallaway commented on #174
https://dexidp.io/docs/using-dex/ has a decent visualization of the two approaches; right now, we're following the approach described in https://dexidp.io/docs/using-dex/#consuming-id-tokens where the client app (`cosign`) fetches the token and then passes it to the backend service (`fulcio`). We initially went down this path for two reasons:

1. Keep fulcio as simple as possible and avoid re-impl

[2021-09-01 20:34] bbockelm commented on #174
Yes, I noticed that the current design has the clever side-effect of making fulcio stateless. I'd say that's a Good Thing.

However, it should be possible to do the device flow stateless as well provided there's a shared secret between the different instances; you can basically encode this as an encrypted state passed back to the client (the `mod_auth_oidc` or whatever-it's-called module in apache

[2021-09-08 09:54] lukehinds commented on #173
Hey @Ruwa353 , sorry for late reply. Do you have some details on what you would like from mentorship?

[2021-09-08 09:55] #172 closed

[2021-09-08 09:55] #157 closed

[2021-09-12 05:47] #173 closed

[2021-09-13 07:26] lukehinds opened #183 "GitHub OCI requires implementation for fulcio CA"
PR #180 missed the modular CA implementation and does not work for fulcioca.

from a cursory look we need a `challenges.GithubWorkflowValue` to manage `subject.Value`

https://github.com/sigstore/fulcio/blob/922b7cd78f7126666b5e179e1ceb88d614e9815c/pkg/ca/fulcioca/fulcioca.go#L45-L54

cc @mattmoor

[2021-09-14 17:07] #183 closed

[2021-09-15 18:13] #152 closed

[2021-09-17 21:46] n3wscott commented on #76
fixed in #155

[2021-09-17 21:47] n3wscott commented on #64
close?

[2021-09-18 10:38] #76 closed

[2021-09-23 14:53] lukehinds opened #190 "Fulcio should return root CA and client in a more useful format"
Currently fulcio returns the cert chain as two whitespace separated blocks.

It would be more useful to folks if we returned in json:

[code]

[2021-09-29 05:26] lukehinds opened #191 "Release 1.0 planning"
The MVP is established now and other projects are leveraging fulcio, so its time to plan for 1.0

- [x] #194
- [x] #187
- [x] #195
- [x] #13

cc @cpanato

[2021-09-29 05:28] lukehinds commented on #64
I think so, open again if still relevant @dlorenc

[2021-09-29 05:28] #64 closed

[2021-09-29 05:30] lukehinds commented on #43
@dlorenc this sounds more relevant to the public instance, shall I migrate this issue over to public good instance?

[2021-09-29 05:33] #52 closed

[2021-09-29 08:58] cpanato commented on #191
same from rekor:

I would like to add a cloudbuild + goreleaser when we release Fulcio

then I have some questions:

1. We will use the same KMS key that we use to sign `cosign`? or we create another?
2. To push the data to the Rekor server how can we do that in an automated fashion way? there is any guide? or we just don't do it at this time?

@dlorenc @lukehinds @dekkagaijin

[2021-10-05 16:10] lukehinds opened #193 "Load test tool"
We need tool to load test fulcio and report those results.

[2021-10-05 16:12] lukehinds opened #194 "Integration tests"
Now that d643aaeacbbbc3bfce9102ed6d32c7b694ac3ad0 is available, we need some integration test coverage.

[2021-10-05 16:39] mattmoor commented on #191
The googlecs stuff needs to move to the 1.0 API

[2021-10-05 16:57] lukehinds opened #195 "Migrate GCP CA to 1.0"
Google has now implemented 1.0 with various changes, this means we need to update the googleca code to 1.0

[2021-10-05 17:41] bobcallaway commented on #195
@dlorenc do we need to move to a new KMS object in GCP (and do this before the signing session this Friday)?

[2021-10-05 17:43] dlorenc commented on #195
We're still using the CA. We can create a new one whenever, but we'll need to be careful with the migration since the root is still pinned in cosign.

[2021-10-05 17:46] lukehinds commented on #195
We also need to be mindful of the public instance (and their chosen implementation), although we don't know what that looks like just yet.

[2021-10-06 00:06] bobcallaway opened #196 "load root CA from HSM at initialization rather than on per-transaction basis"
**Description**

As mentioned in https://github.com/sigstore/fulcio/pull/187#discussion_r711054172 we should re-work this to store the rootCA in memory when the process is initialized rather than load it over and over on a per-transaction basis.

[2021-10-18 21:34] asraa opened #208 "Add more workflow information for Github workflow certificates (sha, run)"
**Description**

It would be good to have information on the sha that the builder is requesting a certificate for in the case of a github workflow. this would allow a user to authenticate when the workflow was running, and trust that a builder is signing on a specific sha (if branch protection is off at some point in a repo, anyone can make a malicious signed artifact with a builder in their malic

[2021-10-18 21:42] laurentsimon commented on #208
Would it be useful to have a provider-agnostic extension?
Say we have Google and GitHub providers. Depending on context, we may want to add additional information (in the case of this issue, a commit hash): will the OID have a {provider type, datablob} structure?
I don't think we want to create a new extension every time a provider needs to add additional context to the cert.
wdut?

[2021-10-20 17:38] asraa commented on #208
cc @bobcallaway

[2021-10-20 18:25] asraa commented on #208
Or barring privacy concerns around logging the full github token in rekor (are there any? maybe private workflows?) maybe we can serialize the whole token and stick it in a single extension?

[2021-10-20 23:36] laurentsimon commented on #208
yeah that's what I was thinking too: `version || len_provider_name || provider_name || provider_version || serialized_data`. `provider_version` not necessary.

[2021-10-24 21:47] mattmoor opened #212 "Towards support for federated K8s OIDC"
**Description**

`tl;dr` We should allow Fulcio to accept OIDC tokens from some (see below) federated Kubernetes OIDC issuers.

### Background and High-level proposal
Kubernetes has a _relatively_ new feature called "Service Account Projected Volumes", which allows a workload to generate short-lived, audience-scoped OIDC tokens for a given serviceaccount, e.g.

[code]

At least GKE and EKS expose

[2021-10-28 21:56] #212 closed, assigned to nobody

[2021-11-01 17:34] mattmoor opened #231 "Add support for AKS as a "meta issuer""
**Description**

The work to surface public issuer URLs is tracked here: https://github.com/Azure/AKS/issues/2327

[2021-11-02 15:04] asraa commented on #208
Side note: @dlorenc got the same effect as this by signing with annotations on the sha/commit.

I *think* it's still useful to have this information in the cert in case it's not a cosign container sig being created (just a signature on an artifact, and this info can come from the cert)

[2021-11-02 17:03] #196 closed

[2021-11-08 20:02] vaikas opened #235 "Panic if using default config because LRU is nil."
**Description**

When launching fulcio as described in the config/DEVELOPMENT.md file, it will use default configuration, and the lru does not get correctly initialized, which results in a panic.

Example invocation:
[code]

And then invoking cosign like so:
[code]

Hilarity ensues because the lru is nil.

[2021-11-08 20:16] #235 closed

[2021-11-10 23:51] dirien opened #238 "Malformed collection name: 'caPools/certificateAuthorities/certificates'"
**Question**
Hi, i started the fulcio server via the docker-compose file. I create a CA at google but i get following error message:

[code]

config looks like this:

[code]

Any hints, of what I am doing wrong? The ~/.config/gcloud is also mapped. Actually everything is set up as described in the DEVELOPMENT.md

Thanks for your feedback.

[2021-11-14 21:52] mattmoor opened #240 "Disable PKCS11 with `purego` build tag"
**Description**

The need for `cgo` to build `PKCS11` support makes using an M1 macbook -> GKE kind of a pain because `CGO_ENABLED=1` doesn't work.  The go community has adopted the build tag `purego` to disable things requiring `cgo` in environments that only support `purego`, so I think we should plumb through logic to disable the PKCS11 support when `purego` is specified.

cc @dlorenc @vaikas @

[2021-11-14 21:53] mattmoor commented on #240
ref: github.com/golang/go/issues/23172

[2021-11-17 05:16] mattmoor opened #241 "Specify `CGO_ENABLED=1` in `.ko.yaml`"
**Description**

@jonjonsonjr pointed me at https://github.com/google/ko/blob/08fccaa7896f36554bd0942f39ac5865916f6ec8/pkg/build/config.go#L83 which is a strictly better way of doing this: https://github.com/sigstore/fulcio/blob/60a53fb9423cd03c10d5537619ff86c1c9f688e9/.github/workflows/verify-k8s.yml#L136

If it works, let's switch to that.

[2021-11-17 15:10] #241 closed

[2021-11-18 13:51] dlorenc opened #243 "Add support for GitLab tokens"
It looks like GitLab offers JWT tokens as well to CI jobs:

https://docs.gitlab.com/ee/ci/examples/authenticating-with-hashicorp-vault/#how-it-works

They're available as the `CI_JOB_JWT` environment variable, and the endpoint is `https://gitlab.example.com/-/jwks`.

It sounds like they don't support the audience field, which isn't great but should still be workable.

[2021-11-18 13:51] dlorenc commented on #243
cc @colek42

[2021-11-18 15:01] colek42 commented on #243
It looks like this is a premium feature for GitLab as well.

[2021-11-18 15:12] dlorenc commented on #243
Hmm, over here it says it might be in all job tiers: https://docs.gitlab.com/ee/ci/secrets/

[2021-11-18 15:35] mattmoor commented on #243
[code]

[code]

[2021-11-18 15:36] mattmoor commented on #243
It looks like it doesn't support configuring `aud` (e.g. to `sigstore`)

[2021-11-18 15:40] dlorenc commented on #243
Yep, I think it's up to us to decide if that's too problematic to add support. We can use the gitlab audience here if we want to.

[2021-11-18 15:43] mattmoor commented on #243
That feels like a slippery slope.  Once we allow it, it's hard to take back and ~every other piece of Vault OIDC documentation I've seen uses `aud: vault`.  Github as precedent might help here.

[2021-11-24 14:09] #13 closed

[2021-11-24 16:58] #240 closed

[2021-11-30 17:41] haydentherapper commented on #238
Hey @dirien, this is because Fulcio previously didn't support the GCP CA Service V1 API, it only supported the beta API. With https://github.com/sigstore/fulcio/pull/218, there is now support for the V1 API. You'll need to set `--gcp_private_ca_version`.

[2021-11-30 22:08] maltfield opened #250 "Documentation on signing Windows and MacOS apps"
After reading your `README.md`, the elephant missing is: how do I actually sign my releases using a fulcio-issued code signing certificate for Windows and MacOS?

Context: I maintain an open-source project. I sign my releases with PGP and provide documentation to my users on how they can cryptographically verify the authenticity of my releases using `gpg`. However, despite this, my Windows and Mac

[2021-11-30 22:26] maltfield opened #251 "flag provided but not defined: -trimpath"
Build fails with the following error

[code]

Steps to reproduce on Debian 10

[code]

## Additional context

[code]

[2021-11-30 22:33] maltfield commented on #251
It does appear to compile in Debian 11. At least I had success with executing the following to build it in a Debian 11 (bullseye) docker container

[code]

[2021-12-01 12:22] bobcallaway commented on #251
`- trimpath` was added in [Go 1.13](https://go.dev/doc/go1.13) and you're building with 1.11. Per the go.mod, we assume a minimum of 1.16 for Fulcio so I think you'll need to upgrade your golang install before proceeding.

[2021-12-01 12:30] bobcallaway commented on #250
There's nothing conceptually preventing the use of sigstore services for the Windows or MacOS ecosystems, but since the sigstore public Fulcio instance isn't in the trust stores of either operating system by default, you would still have the same UX of having to click through a warning.

We could document the current path but I think most users would be left with the same frustration you described

[2021-12-01 18:21] maltfield commented on #251
Unfortunately, the latest version of Go in:

1. Debian 10 is 1.11 https://packages.debian.org/buster/golang
2. Debian 11 is 1.15 https://packages.debian.org/bullseye/golang

...so it appears that fulcio is too bleeding-edge for Debian 10 native :(

[2021-12-01 18:24] maltfield opened #253 "make error: package embed is not in GOROOT"
Running `make` in Debian 11 fails with the following error

[code]

This can be reproduced with the following commands:

[code]

### Context

[code]

[2021-12-01 18:25] maltfield commented on #251
Unfortunately, I had a different build error in Debian 11. I submitted a distinct issue for that one:

 * https://github.com/sigstore/fulcio/issues/253

[2021-12-01 18:32] #251 closed

[2021-12-01 20:09] maltfield commented on #250
So if fulcio is the "Let's Encrypt for code signing" then this begs the question:

So then the questions that follow are:
1. How do we get a list of all the CAs in the trust stores for Microsoft and Apple Operating Systems?
2. Which of the above CAs are friendly with Open Source?

[2021-12-03 15:58] Mythra commented on #253
This is a similar issue to the one you last posted. [Golang Embed was added in 1.16](https://tip.golang.org/doc/go1.16#library-embed) which is newer than your go version of 1.15. This also lines up with the go version in go.mod being 1.16 which is the expected version to build with.

I see 3 ways you can get this now without any changes (I won't comment on whether the project should be using 1.16

[2021-12-06 22:05] mattmoor opened #266 "ClientOption for specifying request timeout"
**Description**

@bobcallaway raised this on https://github.com/sigstore/fulcio/pull/262

[2021-12-07 17:52] mattmoor commented on #193
I believe one of the concerns here is having a scalable OIDC issuer that can be used to issue tokens (and accept Fulcio traffic to verify things).

I was able to stand up a fairly minimal OIDC issuer with just two handlers (and an ephemeral key) for unit testing here: https://github.com/sigstore/fulcio/pull/262/files#diff-445f75dbda6fe7b9191d0b2cb94a621ae7a41eb786d6796540df4c6aa7a38d72R136

I have

[2021-12-07 20:36] valdisrigdon commented on #243
GitLab 14.6 looks to be shipping with an updated token -- `CI_JOB_JWT_V2`. See https://gitlab.com/gitlab-org/gitlab/-/merge_requests/72555. It doesn't look like `aud` is configurable though.

[2021-12-08 19:17] haydentherapper commented on #13
Can we keep this open to track adding monitoring? For example, https://github.com/sigstore/fulcio/pull/267 is adding support for Prometheus

[2021-12-08 20:27] lukehinds commented on #13
Start one fresh @haydentherapper and add items you feel should be tracked (and tag me pls)

[2021-12-09 17:13] haydentherapper commented on #193
I'll take a look at running a load test, feel free to assign me.

[2021-12-09 18:55] haydentherapper commented on #193
I don't think we'll have to worry about a scalable OIDC verifier. We [cache](https://github.com/sigstore/fulcio/blob/3d034fd84371b58e6331da7eaf2b5bf8360dcceb/pkg/config/config.go#L113) the verification keys for OIDC tokens. When making the requests, we'll just cache an OIDC token and use it for each request.

[2021-12-11 23:57] #266 closed

[2021-12-12 01:05] nsmith5 opened #273 "Move global flags to their relevant subcommands"
**Description**

There are quite a few global flags in the CLI that aren't relevant to all subcommands. I think their usage would be more clear if the flags where local to the subcommand that actually uses them.

[2021-12-12 13:15] #273 closed

[2021-12-12 20:29] nsmith5 opened #275 "Improve `OIDCIssuer` abstraction"
**Description**

To add an new class of oidc issuer (eg. spiffe, github workflow...) to fulcio requires touching a lot of different areas of the code base. Here are all the locations I can think of

- [In this switch you need to check the issuer type and call the right challenge](https://github.com/sigstore/fulcio/blob/main/pkg/api/ca.go#L220-L231)
- [You need to add a new issuer type to the confi

[2021-12-12 21:06] mattmoor commented on #275
I definitely agree this is overdue for a refactor.  This is leftover from when there were 2-3 options, and just keeps growing.

I'd be happy to give feedback / discuss if you have ideas!

[2021-12-13 00:43] nsmith5 commented on #275
Sweet, I'll give it a little thought and share a WIP PR or something if I brew up an idea.

[2021-12-14 05:44] jcotton42 commented on #250
Just my own two cents, but I think documenting this would have a positive effect on adoption. Right now you're not going to have the attention of any Windows or macOS devs because they won't even be able to figure out how to sign their own apps, even if it's just for the purposes of playing around. But if you do document it you might garner some interest, which may reach the ears of Apple and Micr

[2021-12-14 18:36] haydentherapper commented on #13
Planning to do so shortly! I'm working on a doc on the remaining tasks I think we need to do for productionization (not all of which I think need to block 1.0)

[2021-12-14 19:52] haydentherapper commented on #122
In addition to email verification, should we also verify proof of ownership over the domain? This avoids domain squatting issues. We could use DNS entries to verify domain ownership, like what [Google Cloud Storage](https://cloud.google.com/storage/docs/domain-name-verification) does to verify ownership.

[2021-12-14 20:04] dlorenc commented on #122
ACME can work here too.

[2021-12-14 20:27] nsmith5 opened #276 "Support simple file-backed CA"
**Description**

Some operators may wish to use a simple file based CA to issue certificates. Lets support loading CA signing key and certificate chain from a local files.

Design aspects:
- Will require private key to be encrypted with password
- Cert and private key will be in seperate files
- Cert and private key must be PEM encoded

**Work items**
This work will be broken up into a couple smal

[2021-12-14 20:34] vaikas commented on #276
Yeah, that is what we had tossed around. I also do wonder if this may be of use with some of the load testing that was discussed during the meeting today.

[2021-12-14 20:39] nsmith5 commented on #276
If I'm reading the google private CA docs right here they can issue intermediate certs https://cloud.google.com/certificate-authority-service/docs/certificate-template (wasn't sure if they did this). Is the idea here that we'd have that cronjob reach up stream to googleca at X frequency to grab a new intermediate make it available (via mounted secret or something) to Fulcio and Fulcio is always si

[2021-12-14 20:41] mattmoor commented on #276
For all my bits about `googleca` in the CronJob, what I really mean is *any of the real CAs*, that is just my exemplar for a real thing.

[2021-12-14 20:43] nsmith5 opened #277 "Support Vault as CA"
**Description**

Would be cool if Fulcio could use Vault as its CA I think. Its already used in a lot of places to host internal certificate authorities and I can imagine a lot of operators (looks sideways at my own homelab) that would like to use this as the CA backend for Fulcio. Allows for horizontal scaling without using Google cloud (SoftHSM doesn't allow for this right?)

[2021-12-14 20:49] nsmith5 commented on #276
I like the idea, but it does add a bit of operational complexity. I wonder if there is perhaps a way to make this work out of the box instead of needing a cronjob. The cronjobs + kubernetes secret is a fast path to coordination + storage it would be cool if there was another pathway that offered the same value without depending on Kubernetes platform explicitly?

[2021-12-14 20:57] nsmith5 commented on #276
I suppose the operational overhead is only really a there if folks need this functionality, but if you're running Fulcio yourself you're probably linking it up to an internal PKI and this need to use this functionality falls away pretty quickly

[2021-12-14 21:06] mattmoor commented on #276
@nsmith5 What I had in mind was really just an extension of what we have.  Fulcio itself would still support the CA's directly, but we'd add a new one for `fileca` or something.

One way of using `fileca` would be to compose it with a CronJob (we can release) that can consume the same set of CA's asynchronously.

Hopefully that gives folks good choices.  I was not thinking we would require the dec

[2021-12-14 21:30] nsmith5 commented on #276
Oh yes yes yes. This all makes sense now. If we want the fance Cronjob + secret update to actually work we'd want to make our `fileca` implementation to use something like fsnotify to listen for this file changes on disk and reload the new intermediate right?

[2021-12-14 23:07] mattmoor commented on #276
It could even do something much dumber where it just reads it once a minute.  Even per-request might be a fine starting point.

[2021-12-14 23:26] vaikas commented on #276
But yeah if @nsmith5 wants to go for ninja credit with fsnotify, that would be awesomesauce :)

[2021-12-15 00:29] haydentherapper commented on #193
Running load test now. As discussed at today's meeting, I'll run it for a short period to not fill the CT logs. Note that I'm hitting Fulcio directly, so I'm not populating the Rekor log.

[2021-12-15 03:05] haydentherapper commented on #193
**Methodology:**

I used [Locust](https://locust.io/) for the performance testing. In Python, you create tasks that simulate one request. To start a test, you run a local instance of Locust. For each test run, you can specify the maximum number of requests per second per user (in code), the number of users (in the UI), and the per-second ramp-up to reach the max number of users (in the UI).

I cra

[2021-12-15 03:34] haydentherapper commented on #276
+1 to the comments about choice. Just chiming in about production - For a production instance, I'd prefer that we exclusively use CA Service.

1) A CA as a service will be more battle-tested than one we've written ourselves.
2) An in-memory signing key is more likely to get leaked or compromised than one hosted on Cloud KMS/Cloud HSM, which is what CA Service uses for signing certificates.
3) Cost

[2021-12-15 13:32] rgerganov opened #281 "PKCS11 CA is broken"
When Fulcio is configured with PKCS11 CA, every signing request fails with `context is closed` error. This is because the pkcs11 context is loaded on startup, the certificate and the private key are read, and then the context is closed. It looks like this is regression introduced with commit 7fb3cb7b. Before this commit, the context was created and closed on every signing request. After this commi

[2021-12-15 16:41] mattmoor commented on #276
My expectation is that over time many folks will operate their own production instance, so this is more about choice than prescribing what we choose to use for the *public good* instance.  We should perhaps have that conversation in a separate issue.

Part of the desire for choice is that while I acknowledge your concerns, I expressed a number of my own with an approach that directly accesses the

[2021-12-15 16:52] dlorenc commented on #276
I hadn't really thought through the options too much, but in my head I was imagining a sort of hybrid architecture for production where the root CA cert is in GCP CA service, but then we have shorter-lived intermediates that are actually used for issuance in the API. These could be stood up at fulcio start time, let's encrypt certbot style, in memory, and rotated at restart or daily.

That would g

[2021-12-15 17:02] mattmoor commented on #276
There is also support for a CSI volume backed by a KMS system, which would provide a much better medium for the intermediates than a K8s Secret.

[2021-12-15 17:46] haydentherapper commented on #276
I'll start a separate issue about productionization, so we can chat more there about the current running production instance.

Do y'all have thoughts on the discussion on https://github.com/sigstore/fulcio/pull/280, about how best to implement a hybrid approach?

[2021-12-16 11:34] rgerganov opened #284 "Fail fast if private key is not found when using PKCS11 CA"
When Fulcio is using pkcs11, it expects a private key under the "PKCS11CA" label. If there is no such key, Fulcio starts successfully but fails on the first signing request. A much better behavior is to fail fast and inform the user that the private key is not found upon start.

[2021-12-16 15:12] #281 closed

[2021-12-16 17:33] #284 closed

[2021-12-21 02:52] vaikas opened #289 "Add the new RootCert this to the `client` and `api_test.go` as well."
We should add this to the `client` and `api_test.go` as well.

_Originally posted by @mattmoor in https://github.com/sigstore/fulcio/pull/287#pullrequestreview-836949571_

[2021-12-21 02:53] vaikas commented on #289
I'll do this, I can't assign to myself, but I'll do it :)

[2021-12-21 05:49] vaikas opened #291 "Can not build with CGO_ENABLED=0 anymore"
**Description**

When trying to deploy from my M1, noticed that things have changed and we can't build with CGO_ENABLED=0 anymore.

[code]

[2021-12-21 07:43] maorkuriel opened #294 "What are the main Use cases for Fulcio?"
I have read this blog post https://chainguard.dev/posts/2021-11-12-fulcio-deep-dive, and the technology is impressive.

With that said, I am trying to map specific usage for this tool in cloud-native environments, if there are??
Would you mind listing the primary use cases that you see this OSS address?
What is the problem that it was meant to solve?

I appreciate any help you can provide.

[2021-12-21 13:01] #291 closed

[2021-12-21 13:11] #289 closed

[2021-12-27 13:09] dlorenc commented on #294
Fulcio is a bit hard to use by itself - it generally needs tooling to help fit it into existing workflows. For cloud native applications, the most relevant would probably be to use Fulcio through cosign for keyless container signing and verification.

Does that help at all?

[2021-12-28 06:56] maorkuriel commented on #294
Yes, this helps.
Thank you.

[2021-12-28 06:56] #294 closed

[2021-12-29 19:40] #276 closed

[2021-12-29 19:56] nsmith5 opened #300 "Support CA chain in `fileca`"
**Description**

The current `fileca` implementation only supports a root CA certificate, but should support a chain of intermediates of arbitrary length

[2021-12-29 20:01] nsmith5 opened #301 "Replace `ephemeralca` in cosign e2e tests with `fileca`"
**Description**

In the `fileca` PR we dicussed using `fileca` instead of `emphemeralca` in e2e tests.

[2021-12-29 20:01] nsmith5 commented on #301
@mattmoor is this still desired? I know there is that API endpoint that returns the CA certifficate chain now and wasn't sure if that covered the same need..

[2021-12-29 20:04] nsmith5 opened #302 "Add usage / docs for `fileca`"
**Description**

We need a basic example of using `fileca` backing in our docs for operators. Should show how to create a CA cert with openssl and then use is in fulcio.

[2021-12-29 22:05] mattmoor commented on #301
I think we probably do.  cc @vaikas for thoughts

[2021-12-30 06:33] vaikas commented on #301
Yeah, that would make the most sense to me, because indeed we now have a way to programmatically fetch the cert being used. Which led me to questioning the need for ephemeralca in the first place anymore, but that's another discussion :)

[2021-12-31 11:37] bobcallaway commented on #253
+1 to what @Mythra said above - fulcio requires a [minimum of go 1.16](https://github.com/sigstore/fulcio/blob/f2e24d2c780fbeee950024873592e18e2c6b67dc/go.mod#L3) to build.

[2021-12-31 11:37] #253 closed

[2021-12-31 13:10] vaikas opened #303 "Consider switching the --fileca-key-passwd to not contain pwd but point to file containing the pwd"
In #280 support for keys/cert from the disk became available, thank you @nsmith5 for that! I've been playing with it for a bit and it works exactly as advertised, but I'm curious (before it gets too widely used and have to worry about migration strategy, etc.) if we might want to consider changing this flag:

[code]

To not be a flag that has the password, but instead it's pointer to file containi

[2021-12-31 17:00] n3wscott commented on #303
Or like docker and ko do and take the password from stdin?

[2021-12-31 19:23] nsmith5 commented on #303
Perhaps we should do all three if it makes sense?

- `--fileca-key-passwd` as a literal
- `--fileca-key-passwd-file` as a file containing the password
- `--fileca-key-passwd-stdin` from stdin?

I like options for operators (know this world a lot), but I can see there may be a different security posture (know this world less and am learning) for each.

I think we ought to be already on the race con

[2021-12-31 20:20] nsmith5 opened #304 "Refactor configuration"
**Issue**

Fulcio configuration is a bit of an inconsistent experience right now for the end user and as a developer. From an operator perspective:

- The OIDC provider  details live on a config file
- If you use PKCS#11 like softhsm its config is a different file
- There are many flags for most of the configuration
- The flags are consistent about using `_` versus `-` as a seperator (e.g `--ct-lo

[2022-01-03 17:27] mattmoor opened #305 "`job_workflow_ref` is insufficient to disambiguate actions workflows"
**Description**

Github launched the ability to call other workflows like a step: https://github.blog/2021-11-29-github-actions-reusable-workflows-is-generally-available/  In these cases the launched job shows up as the `job_workflow_ref`, and NOT the workflow definition that lives in the user's repository.

Prior to this feature, the `job_workflow_ref` effectively codified the `repo`, `workflow`,

[2022-01-04 18:01] vaikas opened #310 "Consider supporting multiple CTLogs"
**Description**
Currently we support one CTLog where SCT is then returned from. It might be useful in the future to support multiple ones. Besides the obvious need to modify code, just curious if we may want to consider at least allowing the API here:
https://github.com/sigstore/fulcio/blob/main/pkg/api/client.go#L31

Also copied here in case links shift:
[code]

To be able to return multiple SCT,

[2022-01-04 18:15] haydentherapper commented on #13
As we chatted about in today's meeting, it'd be best to wait on the task list until we know who is running the production instance longterm.

[2022-01-05 17:26] jdolitsky opened #314 "Allow passing configuration via config file"
Make use of Viper's `viper.AddConfigPath` to allow configuring fulcio using a YAML config file

Example: https://github.com/spf13/viper#reading-config-files

Discovered trying to modify sed statements in #309

cc @mattmoor

[2022-01-05 22:54] #314 closed

[2022-01-06 13:11] #305 closed

[2022-01-06 16:05] jdolitsky commented on #304
Came here to open this. Looks like some of it resolved in https://github.com/sigstore/fulcio/pull/315 yesterday, but there are still discrepancies related to `_` and `-`. Also `config` vs. `config-path` may confuse some people.

[2022-01-06 16:41] jdolitsky commented on #304
That sounds good. I'm wondering how the nested structure on config file you provided will play with viper.. maybe separating with a dot like `--server.port=3003` would work, and that solves the `_` vs `-` problem altogether

[2022-01-06 17:25] nsmith5 commented on #304
Here is example without that cool flag behavior in one my projects https://github.com/nsmith5/rekor-sidekick/blob/main/cli.go#L28-L57

[2022-01-06 17:41] nsmith5 commented on #304
Perhaps it was one of these projects used for that flag thing

- https://github.com/octago/sflags
- https://github.com/jaffee/commandeer#features
- https://github.com/anacrolix/tagflag

[2022-01-07 03:57] nsmith5 commented on #300
📣 Starting some work on this one :D

[2022-01-07 18:24] #301 closed

[2022-01-11 17:42] jdolitsky commented on #191
Should probably lock down the configuration prior to 1.0: https://github.com/sigstore/fulcio/issues/304

[2022-01-13 01:25] dlorenc commented on #44
Yeah!

[2022-01-13 01:25] #44 closed

[2022-01-13 01:26] dlorenc commented on #44
For reference: https://github.com/sigstore/fulcio/pull/211

[2022-01-13 21:22] mattmoor commented on #231
Update to the issue linked: https://azure.github.io/azure-workload-identity/docs/

[2022-01-15 00:56] mattmoor opened #330 "Support API for fetching the SCT key"
**Description**

This came up in the `cosigned` API task force.

Essentially, to verify against a custom fulcio root we need both the root and SCT certs.  We added a way to fetch the former, but not the latter.

Ideally we would be able to specify alternative Fulcio roots via the API in the simple case, and only need to inline keys for air-gap scenarios.

cc @dlorenc @bobcallaway for any thoughts

[2022-01-15 01:04] mattmoor commented on #330
cc @vaikas as well

[2022-01-15 05:55] vaikas commented on #330
I think this would basically make us explicitly trust Fulcio to not lie about the CT public key. My understanding is that we have to be able to 'trust but verify' what Fulcio does, and the way to do this is to take the SCT and validate it against the public key of the CTLog and having Fulcio supply that to us seems like a problem. By having the key to the verifier be OOB makes it so that we can ve

[2022-01-15 14:29] dlorenc commented on #330
Yeah - we can serve it from the endpoint but just need to clearly instruct clients to store it so they can TOFU from there, instead of just blindly trusting it each time.

[2022-01-15 21:43] nsmith5 commented on #302
As pointed out by @haydentherapper, with the support of intermediate CA in `fileca` we need to document the expected order of certificates in the cert bundle.

NB: if #320 is merged that order will be signing intermedate first -> root last

[2022-01-16 01:27] vaikas commented on #330
What does TOFU mean? 🤣

[2022-01-16 01:52] dlorenc commented on #330
Hah sorry! Trust on first use!

[2022-01-17 05:43] haydentherapper commented on #330
Can we add a method to the CT log API to provide the SCT key by request?

[2022-01-18 07:52] lukehinds commented on #304
I am happy to park 1.0 for this , but first does anyone plan to work on this and what would be the ETA?

[2022-01-18 16:46] jdolitsky commented on #304
@nsmith5 go for it - I'll reach out on slack and see if theres anything to help with there

[2022-01-20 09:43] Foxboron commented on #250
For Microsoft there are a few options since Microsoft Authenticode is effectively used for codesigning under Secure Boot. I have written a lot of code for this in Go so writing a utility to get valid signing for EFI executables was fairly trivial:

https://github.com/Foxboron/authenticode-fulcio

But I'm not sure how this would fare on an real Windows binaries. Hooking it up certificate generation

[2022-01-20 17:22] nsmith5 opened #335 "Unbound request size can lead to OOM"
**Description**

There is no size limit imposed on the body of requests to the `/api/v1/signingCert` endpoint. This means that an request can create an
arbitrarily large signing request and force the Fulcio process to be OOM killed by the kernel. The request need only be in the right format because the request body is send into a JSON parser immediately as we can see [here](https://github.com/sigs

[2022-01-20 17:26] nsmith5 opened #336 "Lack of server timeouts can lead to connection exhaustion"
**Description**

Fulcio does not set any timeouts on the `http.Server` used to serve the API. This can be seen here

- https://github.com/sigstore/fulcio/blob/6f40e90992a4141b4aa5b2cf43721ce098b9bd0c/cmd/app/serve.go#L196-L199

In this case, the zero value means disabling the timeouts entirely as documented [here](https://pkg.go.dev/net/http@go1.17.6#Server). The implications of disabling these ti

[2022-01-21 00:49] vaikas commented on #330
@haydentherapper it might be more involved to add it there, given:
https://datatracker.ietf.org/doc/html/rfc6962

But, perhaps I'm misunderstanding something.

[2022-01-21 13:58] #335 closed

[2022-01-21 14:10] #300 closed

[2022-01-21 15:50] #336 closed

[2022-01-21 18:06] haydentherapper commented on #330
@vaikas Good point, this is explicitly called out here - https://datatracker.ietf.org/doc/html/rfc6962#section-5.2

It makes sense that the log will not distribute its verification key, that it's expected there's some out-of-band distribution of it.

[2022-01-22 15:55] Foxboron commented on #250
I tried to sign a PE file with my tooling + a few others to see if I could get something valid. But it seems like there is something missing in the certificate chain as none of the tools are capable of creating a valid signature. There is also an issue where the binary would only have a valid signature for 20 minutes so I'm not super sure about the practical use-case yet.

![](https://i.imgur.com/

[2022-01-22 19:39] nsmith5 commented on #304
@lukehinds @jdolitsky I totally over estimated my skills and underestimated how much of a refactor this would be. I've had a poke at this but it feels like a bit of a task. The configuration code is fairly tightly coupled to other things around the code base so its a little challenging to refactor configuration with having to refactor all of those. Here is an example

- https://github.com/sigstore

[2022-01-22 19:41] nsmith5 commented on #191
Not 100% configuration change should be 1.0 blocker. If only because it seems like it might take some time to finish up a refactor. I discussed it a bit here: https://github.com/sigstore/fulcio/issues/304#issuecomment-1019345636

[2022-01-23 08:13] lukehinds commented on #191
I have been thinking the same. fuclio has been operating in a stable manner for a while now. I will freeze the milestone and we can look at closing the release.

cc @cpanato

[2022-01-23 08:16] lukehinds commented on #304
I agree and let's to do this later. A big refactor right before a major release is inviting problems, so you're wise to call this.

[2022-01-23 16:47] dlorenc opened #342 "Remove the v1beta1 GCP CA API"
This was left in place for the migration, I don't think we have any use case for it anymore.

cc @n3wscott @haydentherapper - any reason to keep it? Could be a good starter issue.

[2022-01-23 18:47] n3wscott commented on #342
Yeah delete it!

[2022-01-23 21:10] haydentherapper commented on #342
Agreed, no reason to keep it! Beta is no longer supported.

[2022-01-24 15:24] znewman01 commented on #342
I can do this

[2022-01-25 09:27] cpanato commented on #191
if need to change any configuration, maybe we can do that now and make a pre-release with deprecations and then plan the 1.0 removing the deprecations.

[2022-01-25 10:32] lukehinds commented on #191
@cpanato as I understand, it won't be a change of flags or a non backwards compatible change.

At the moment we have a pattern of folks adding to 1.0, but not able to do the work and so we are seeing 1.0 pushed back and a moving target. For me the most important role of fulcio is the public good instance and what we have at present, which although I am sure can be improved over time, is currently

[2022-01-25 10:48] cpanato commented on #191
ahh got it, i think i misunderstood :(

[2022-01-25 12:17] znewman01 commented on #342
Not sure what typical deprecation policy is, since we're pre-1.0. I prepared 2 PRs: #348 (deprecate) and #349 (remove). I suppose if we don't care to deprecate this formally you can just merge both.

[2022-01-25 13:34] znewman01 commented on #342
Err, I meant just merge #349 since it has both commits in it (otherwise you'll get both release notes at once).

[2022-01-25 14:30] #342 closed

[2022-01-26 19:34] nsmith5 commented on #195
I think this is done now right? I think v1beta1 support just got deprecated as well

[2022-01-26 20:32] dlorenc commented on #195
Yup!

[2022-01-26 20:32] #195 closed

[2022-01-28 16:22] dlorenc opened #360 "Document root cert retrieval and verification process"
I accidentally merged #355 too early - we need to do a bit more documentation work to explain how to properly verify this value. @asraa jotted down some notes here: https://github.com/sigstore/fulcio/pull/355#issuecomment-1024334283

[2022-01-28 22:48] nsmith5 commented on #275
Drafted a proposal for this change here https://docs.google.com/document/d/1PKAou7wEmEob4VOLq6rFlx5maOM5hkJ3XffZizfwdFw/edit?usp=sharing. Looking for some eyeballs before diving in to implementing

[2022-01-29 21:27] #360 closed

[2022-01-31 23:02] priyawadhwa opened #365 "Add support for rate limiting in fulcio"
We can set up rate limiting based on IP address for Fulcio. (also mentioned in https://github.com/sigstore/fulcio/issues/193#issuecomment-994247492)

[2022-02-01 03:08] priyawadhwa opened #368 "Review test coverage of fulcio"
Before going GA, it would be nice to make sure that unit tests and integration tests are thorough!

[2022-02-01 04:19] tstromberg opened #369 "panic at pkg/api/ca.go:signingCert(): runtime error: index out of range [830] with length 826"
While setting up Fulcio on two separate machines, I've run into the following panic while invoking `cosign`:

[code]

I believe this behavior was introduced by https://github.com/sigstore/fulcio/commit/10262db828ecf78e4bb087a7a35be64b4fbaf9d2 -- here is the line in particular that I believe is causing the panic:

https://github.com/sigstore/fulcio/blob/4bd818d4bf909169e4ac24ebbaa805fe60f153b8/pkg/

[2022-02-01 17:48] znewman01 opened #371 "Non-OIDC email verification"
TODO

[2022-02-01 18:19] nsmith5 opened #372 "Break down mega-README into bite size articles under /docs"
**Description**

The README has sort of just grown organically over time and I think its high time it gets broken down into more focused documents under something like a `/docs` folder. We can link to that folder form the README so the information is still easily discoverable, but keep the copy in the README a tighter narrative about what Fulcio does. The focus here would be leaning towards contri

[2022-02-01 18:21] znewman01 commented on #371
With OIDC flows, the Fulcio cert attests (roughly) "I signed this cert for for someone who successfully completed an OIDC login with XXX provider and YYY account."

With email, what are we attesting? There's a couple options here:

1. "I signed this cert for someone who saw an email I sent to XXX address"
2. "I signed this cert for someone who initiated a request and saw an email I sent to XXX add

[2022-02-01 18:23] nsmith5 opened #373 "Architecture docs"
**Description**

It takes a really long time to get started with Fulcio development because of the lack of architecture docs. The reader needs to spin everything up and look the the code to get the gist of how things work. I think we can make this much better with basic architecture docs including

- [x] Detailed explanation of how a certificate request works from start to finish
- [ ] Flow diagra

[2022-02-01 18:27] lukehinds commented on #373
Agree, I would add a nice flow diagram of OIDC as well.

[2022-02-01 18:28] nsmith5 commented on #373
I've got a very detailed description of the certificate request lifecycle in this doc I can repurpose for the "how a certificate request works" part of this https://docs.google.com/document/d/1PKAou7wEmEob4VOLq6rFlx5maOM5hkJ3XffZizfwdFw/edit

[2022-02-01 21:19] nsmith5 opened #374 "2 reviewers per PR"
**Question**

Should we have 2 reviews per PR? I think this can be a great quality gate and as @haydentherapper mentioned it might be worth doing as we try to push the quality bar in Fulcio. If 2 reviews leads to slow reviews maybe we could add more maintainers to spread the burden?

[2022-02-01 22:02] tstromberg opened #375 "Build failure on OpenBSD: ld: error: unable to find library -ldl"
When running `go test .`, `go install`, or any other build step on OpenBSD:

[code]

This is due to two dependencies referencing an old buggy version of the https://github.com/miekg/pkcs11 library:

* https://github.com/ThalesIgnite/crypto11 - fixed by https://github.com/ThalesIgnite/crypto11/pull/89
* https://github.com/containers/ocicrypt - fixed by https://github.com/containers/ocicrypt/pull/56

[2022-02-01 22:05] tstromberg commented on #375
It seems like running `go get github.com/miekg/pkcs11@v1.1.1` successfully fixes this problem, so I will raise an appropriate PR for it.

[2022-02-01 22:29] Foxboron commented on #374
It should probably be noted that 2 reviewers isn't only a quality assurance thing but also to prevent one account takeover from compromising the source.

[2022-02-01 22:35] nsmith5 commented on #374
Indeeeed ❤️ https://slsa.dev/spec/v0.1/requirements#two-person-reviewed 👀

[2022-02-01 22:51] haydentherapper commented on #371
Also consider how OAuth/OIDC mitigates attacks around replay and CSRF. Can email mitigate these?

[2022-02-01 22:58] znewman01 commented on #371
- Replay: standard practice is to encode the current time in the token that gets emailed to the user, so you could only replay for 5 minutes. This seems okay since the replay would just get you a reissue of exactly the same cert.
- CSRF: I think the "local state" bit helps here (i.e., the flow would be CLI generates randomness + ephemeral key -> triggers email -> feed token from email back to CLI

[2022-02-01 23:52] haydentherapper commented on #365
We can either add rate limiting in the service (possibly leveraging this [rate limiting library](https://github.com/uber-go/ratelimit)) or in Nginx configs ([instructions](https://www.nginx.com/blog/rate-limiting-nginx/)). I prefer to implement this in Nginx, to avoid a misbehaving client from ever hitting the service. However, it may also be valuable to implement this in the service for those who

[2022-02-02 00:40] haydentherapper commented on #371
The CSRF mitigation seems reasonable, though I'll want to think through this a bit more.

I wonder if we can design this such that Fulcio as a CA isn't responsible for sending out emails, but instead you have a frontend RA (registration authority) responsible for authenticating users. OIDC token verification could live there too.

[2022-02-02 00:47] priyawadhwa commented on #365
Let's add it to nginx as the GA goal, and we can implement it in the service itself as a P1?

[2022-02-02 01:22] rochlefebvre commented on #371
I don't quite get option 3.  That said, option 2 sounds good and doable.

IMO, one of the killer features of the OIDC flow in the RubyGems RFC is keeping the private key in memory while we acquire a cert and then sign the gem.  Earlier you mentioned having the CLI send a random token + an ephemeral key. I assume you meant the public key?

Here's some stuff I just made up:

[code]
The Authorization

[2022-02-02 07:10] haydentherapper commented on #371
One thing that's worth bringing up is this mode does not support automation. A benefit to OIDC that's been discussed in the RFC is automated signing without the need for a browser, by leveraging refresh tokens. I'm not convinced that email verification without OIDC adds value.

[2022-02-02 07:41] haydentherapper commented on #371
I'm seeing that the primary concern around OIDC pointed out in the RFC discussion is that it "vendorizes" the feature. While I recognize this concern, I assume that almost all developers have an account for at least Github. Over time, we can also add additional identity providers as needed.

Thinking more about implementing email verification when it comes to securely designing the feature, we're

[2022-02-02 09:26] cpanato commented on #374
made a comment in the issue in the community repo

[2022-02-02 11:24] #369 closed

[2022-02-02 12:14] dlorenc commented on #375
Let's use this to also track adding a presubmit test somehow to make sure this still compiles!

[2022-02-02 12:15] #375 closed

[2022-02-02 12:21] dlorenc commented on #374
Left a comment over in the other issue - FWIW I feel the cons far outweigh the pros here.

The SLSA requirement is also a bit subtle and doesn't actually require two people to review every PR. The goal there is to ensure two different people have looked at it in some way, but the author can count as one of them. In practice this means that if one maintainer submits code, and another maintainer rev

[2022-02-02 12:45] dlorenc commented on #372
Big +1 to this! For GitHub "SEO" it's usually good to have a small blurb/diagram/picture targeted to end-users "above the fold" in the README, but the rest of the end-user stuff should move to the docs website and this can stay contributor focused.

[2022-02-02 13:20] rochlefebvre commented on #371
Yes, I'd like to keep the refresh token-like flow on the table as well.  I'm still trying to understand the base flow in Option 2.

What if the email response contains half of a bearer token? The other half is the aforementioned CLI local state. An attacker would need to intercept both the email and the ephemeral secret in order to acquire a certificate. If the code signing key pair plays no part

[2022-02-02 14:05] rochlefebvre commented on #371
I have the same opinion on both points. Package ecosystems need to stop prioritizing package maintainer comfort and ideology at the expense of application security.  We need meaningful security guarantees as the result of erecting all these barriers.

We should be willing to lose a small fraction of the die-hard "muhfreedums" gem maintainers out there.

How confident are we that most gatekeepers f

[2022-02-02 15:22] di commented on #371
I think providing non-OIDC email verification for arbitrary domains in general may be a bad idea, and providing it as an alternative to OIDC for package managers like RubyGems or PyPI is very likely a bad idea.

@varunsh-coder stated the issue fairly well at https://github.com/rubygems/rfcs/pull/37#issuecomment-1028016606:

Generally users of package indexes like RubyGems or PyPI don't have a way

[2022-02-02 16:03] jchestershopify commented on #371
For the rubygems RFC we considered something like this at signing time but rejected it for two reasons. The first is that it we would require rubygems.org to operate and secure an OAuth/OIDC infrastructure, which is a significant burden and risk in itself. The major IdPs are extremely well-resourced. Rubygems.org is not. The second disadvantage would mean that account takeover would be a complete

[2022-02-02 16:26] di commented on #371
I can definitely empathize with being an under-resourced package index maintainer. 🙂 I think if this is the main blocker, we can probably find the necessary resources, either via the OpenSSF, Google, etc.

The issue I have with using a major IdP is that while they're good at providing their _own_identitiess, there's (generally) no verifiable link here between their identity and an identity on ruby

[2022-02-02 16:42] znewman01 commented on #371
It sounds like there's agreement that email validation provides a lower level of assurance than OIDC, and as such we should strongly encourage downstream users like RubyGems and PyPI and their clients to require OIDC identities on signed packages. There's a [long list of certified OpenID providers](https://openid.net/certification/), including academic institutions, governments, and open-source co

[2022-02-02 16:51] nsmith5 commented on #374
Closing in favour of the community repo thread

[2022-02-02 16:51] #374 closed

[2022-02-02 17:54] nsmith5 opened #379 "Create a simple RFC process for important changes"
**Description**

Sometimes, we there is a need to propose a change to Fulcio requires more space, discussion and scrutiny than Github issues is good for. I believe these change proposals should be both documented once accepted and placed under the code review process for acceptance.

Two examples of such changes I can think off right now are the refactor of are #275 and #304. The are big enough th

[2022-02-02 21:24] haydentherapper commented on #371
For a long-term solution, I'd love to explore privacy-conscious approaches that don't require users to expose their emails. I don't know what this might look, but it's a very exciting area to explore.

I originally strongly believed that package managers should not stand up their own IDPs, due to the maintenance burden and security implications. I've walked that back a bit now. From community feed

[2022-02-03 00:32] dlorenc commented on #371
I think there's one more choice we could add to the mix if we want to support "run my own email server and domain use cases": namespaced IdPs.

Right now we allow Google to mint tokens for any email address and trust that they do it properly. We could allow self-hosted OIDC discovery endpoints to mint tokens **for that specific namespace**. We support something like this for SPIFFE today.

A user

[2022-02-03 00:50] haydentherapper commented on #371
I like it! That would definitely minimize the risk of accepting a misconfigured IDP.

Also this comes with the benefit of being able to create automation around adding scoped IDPs to Fulcio through ACME.

[2022-02-03 14:51] jchestershopify commented on #371
This thread is giving me a lot of food for thought.

One thing I'm confident in, though: I'm wary of having multiple flavours of IdPs: 1st party (run your own), 2nd party (Rubygems runs one) or 3rd party (Google et al). I think we should pick just one option, because the burden of confusion will be too high otherwise.

[2022-02-03 16:06] varunsh-coder commented on #371
@jchestershopify how do these 1st party/ 2nd party/ 3rd party options equate to what exists for the [Apple App Store](https://developer.apple.com/support/code-signing/) or the [Google App Store](https://developer.android.com/studio/publish/app-signing)? Would you classify those as 2nd party? I was told recently that [Maven repository](https://maven.apache.org/repository/guide-central-repository-up

[2022-02-04 16:26] #231 closed

[2022-02-05 01:31] tstromberg opened #387 "Client library returns unhelpful error for non-201 responses"
TL;DR, if Fulcio returns anything other than a 201, the resulting error message in cosign is:

`getting signer: getting key from Fulcio: retrieving cert:  `

This appears to be generated from `pkg/api/client.go`, hence the issue being opened here.

---

I had an issue today where cosign was behaving strangely in my local test environment:

Invocation:

[code]

Error:

[code]

After adding some deb

[2022-02-06 02:34] #387 closed

[2022-02-07 20:32] haydentherapper opened #390 "Certs issued from GCP CA Service include unneeded subject organization"
**Description**

This was brought up on Slack as a different between the beta and V1 CA Service issued certificates. I've done some local testing and confirmed that we can remove the organization from issued certs, only a SAN is needed.

[2022-02-08 01:05] #390 closed

[2022-02-08 02:31] vaikas opened #394 "Fulcio panics when trying to index out of bounds"
**Description**

When doing some testing with Spiffe integration that went swimmingly, found this along the way:

[code]

[2022-02-08 02:40] vaikas commented on #394
This is a dupe of #369

[2022-02-08 02:40] #394 closed

[2022-02-08 20:21] haydentherapper opened #397 "Designing list of requirements for new IDPs for public good deployment"
**Description**

In today's community meeting, we discussed two ways of supporting new IDPs:
* Integrating with Dex
* Adding the IDP directly to Fulcio's OIDC issuer config list

We need to determine what are the requirements for a new IDP before inclusion.

Some initial thoughts:
* As pointed out in the meeting, Dex allows us to restrict the lifetime of issued tokens. Lifetime isn't included in t

[2022-02-08 21:06] haydentherapper opened #398 "OIDC enhancement: Support for additional OIDC subjects"
## Background

As discussed in https://github.com/rubygems/rfcs/pull/37, there is a desire to specify other values in OIDC tokens besides emails, SPIFFE IDs, or Github OIDC subjects. RubyGems is proposing using the profile URI as the subject of the OIDC token. As other IDPs integrate with Fulcio, subjects could also simply be usernames without any domain.

Integration with IDPs can be done with De

[2022-02-08 21:10] haydentherapper commented on #398
cc @rochlefebvre @jchestershopify @di

[2022-02-09 22:14] di commented on #398
I'm curious how 'noreply' email addresses would fit into this, e.g. GitHub's `<username>@users.noreply.github.com` emails. For `user-with-domain`, does the domain have to match exactly, or could it be a subdomain? Do we make the assumption that the email is routable, or just that it's unique?

[2022-02-11 18:27] nsmith5 opened #405 "Add unit tests for `oauthflow.EmailFromIDToken`"
**Description**

[oauthflow.EmailFromIDToken](https://github.com/sigstore/fulcio/blob/32242d0031e50c204e79254b3c3f9d81e45757f0/pkg/oauthflow/oidc.go#L25-L36) is untested and could use some unit tests. In particular lets verify that:

- An `nil` token returns an error
- A valid token with both `email` and `email_verified` claim defined returns correct values from the token and `nil` error
- Other c

[2022-02-11 18:35] nsmith5 commented on #405
@bobcallaway, @lukehinds or @dlorenc can we assign @elizabetht to this issue? We're learning about golang and getting into open source together. I'd love to give her some space to tackle this if she's interested :D

[2022-02-11 19:08] dlorenc commented on #405
Sure! for future reference if you don't have permissions to assign something, leaving a comment that you're working on it is probably close enough. I never understood why github makes this so difficult...

[2022-02-11 19:11] nsmith5 commented on #405
Splendid! Its all yours @elizabetht! Have fun :)

[2022-02-14 18:20] haydentherapper commented on #398
Good question! Some initial thoughts:
* A profile might be accessible on a different subdomain than the authentication service, such as `accounts.rubygems.org/auth` vs `rubygems.org/profiles/...`.
* I don't want to assume that there will only be one profile service per domain. Possibly a domain allows subdomains to run their own services.
* For that same reason, we can't assume one IDP per domain.

[2022-02-15 18:30] nsmith5 commented on #372
Yes absolutely!

[2022-02-15 18:42] endorama commented on #373
I've been looking at OICD authentication flow is it correct the one to document is the Basic/Authentication flow?

Am I correct saying that IDP redirects to fulcio, which then uses the ID token as issuer for the sign certificate?
(At least this is my understanding from [`actualAuthorize`](https://github.com/sigstore/fulcio/blob/2ce3e6cec9fba93bf632c2e3e257e0aca9632fd1/pkg/api/ca.go#L98) and it's u

[2022-02-16 09:56] endorama commented on #372
Ok so first step is breaking down the README, then I'll start moving things around.

[2022-02-16 21:04] elizabetht opened #414 "Add unit tests for oauthflow.IssuerFromIDToken"
**Description**

Similar to https://github.com/sigstore/fulcio/issues/405, [oauthflow.IssuerFromIDToken](https://github.com/sigstore/fulcio/blob/32242d0031e50c204e79254b3c3f9d81e45757f0/pkg/oauthflow/oidc.go#L38-L51) is untested and could use some unit tests

[2022-02-16 21:04] elizabetht commented on #414
And I am working on it :)

[2022-02-16 21:05] elizabetht commented on #414
cc: @nsmith5

[2022-02-16 21:56] haydentherapper commented on #365
Something to consider - Github Actions will likely generate orders of magnitude more traffic than individuals. https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#ip-addresses discusses how to dynamically fetch IP addresses.

[2022-02-16 23:42] vaikas opened #415 "Fulcio returns 200 if there's no RootCert"
**Description**

Calling Fulcio to fetch rootCert returns 200 even if there's an error, it's just logged.
https://github.com/sigstore/fulcio/blob/main/pkg/api/ca.go#L242

This looks to caller like things worked, but then they'd have to verify the output in addition to error checking. We should return an error to the caller.

/assign vaikas

[2022-02-16 23:48] nsmith5 commented on #415
Oh dear yeah there is no status setting anywhere there. There should also be a return statement under all the error handling so so we trundle onward after hitting errrors

[2022-02-17 00:23] trevrosen commented on #397
On a related note, I'm curious how the Sigstore team is planning to expand the list of the [cert's SAN OIDs](https://github.com/sigstore/fulcio/blob/c74e2cfb763dd32def5dc921ff49f579fa262d96/docs/oid-info.md).

I'm interested in use cases involving multiple integrated build systems which also function as an IdP (like GitHub Actions does). Will the OID list expand to cover other systems directly or

[2022-02-17 05:11] k4leung4 opened #417 "Update config yamls to drop the -dev suffix for namespace where k8s objects are created"
**Description**

The inclusion of the "-dev" suffix in the config yaml gives off the appearance that this for development, or not ready for production use. As we approach GA, dropping the "-dev" suffix seems appropriate.

[2022-02-17 06:16] k4leung4 opened #419 "Add securityContext to config yamls to restrict access"
**Description**

Limit the amount of access when running pods to bare minimum using securityContext.

[2022-02-17 10:54] #419 closed

[2022-02-17 17:48] #415 closed

[2022-02-17 17:50] #417 closed

[2022-02-17 21:30] nsmith5 opened #421 "Publish container images to Github container registry"
**Description**

There is no official source to grab a container image for Fulcio right now. Having published and signed container images in GHCR will allow for them to be used in the public good instance and also by independent operators instead of building from source.

**Why Github container registry?**

I think github makes the images more easily discoverable for independent operators than goo

[2022-02-18 17:58] haydentherapper commented on #365
Completed

[2022-02-18 17:58] #365 closed

[2022-02-22 18:02] haydentherapper opened #428 "Deploy latest release to fulcio.sigstore.dev, decide plan for v1.fulcio.sigstore.dev"
cc @bobcallaway @dlorenc

I was testing out `/api/v1/rootCert` and realized there were recent changes missing on `v1.fulcio.sigstore.dev`. `fulcio.sigstore.dev` still uses the beta GCP CA Service instance, which should be turned down before GA. Can we deploy the latest release to `fulcio.sigstore.dev` and `v1.fulcio.sigstore.dev`?

What should we do about the `v1` instance? Currently it's referenc

[2022-02-22 18:07] haydentherapper commented on #428
@priyawadhwa - This is something we should decide before GA too

[2022-02-23 11:23] simi commented on #371
I tried to follow the technical part of the discussion and I don't understand (probably simple) part of those security concerns regarding email verification.

When my email inbox gets compromised and I don't have 2FA auth on GitHub enabled, attacker can use forgotten password to reach my GitHub account and do the GitHub verification as well. What's the difference? Is the problem in the process of

[2022-02-23 15:44] znewman01 commented on #371
Thanks for the feedback, @simi! You make some really good points.

I think that's a pretty critical caveat. [OIDC allows] clients to requesting information about authorization methods, [including 2FA]. Further, password reset processes can be more involved than just "click this link in an email" (requiring human intervention, security questions, SMS recovery, etc.).

You're right that if we used R

[2022-02-23 18:31] rochlefebvre commented on #371
I have also [looked](https://github.com/rubygems/rfcs/pull/37#issuecomment-1031812526) at supporting OAuth & OpenID Connect in rubygems.org.  Here is a PR that explores the topic: https://github.com/Shopify/rubygems.org/pull/12.  There's the question of what the subject in the code signing certificate should look like, if we're ditching emails.  I shared some thoughts in the RFC [here](https://git

[2022-02-23 19:12] jchestershopify commented on #371
Spookily I was thinking about exactly this yesterday and even talked to @rochlefebvre about it.

I would prefer such an independent / neutral IdP over having rubygems as an IdP. It would save a lot of administrative overhead _and_ retains the extra security of an independent account (as we have with vendor accounts). I think I would still keep the vendor options for folks who are comfortable with

[2022-02-23 20:52] haydentherapper commented on #371
I'd prefer we don't create another universal identity store and provider. We discussed this a bit in yesterday's community meeting, but it's important that there's some link between an artifact and a signer that can be clearly defined via a policy. Currently, this is solved by email addresses, where it's expected that there's some public way to link the signer to the email. For ecosystems that wan

[2022-02-23 21:33] jchestershopify commented on #371
The original rubygems RFC proposal _already_ required a second account, just with a vendor IdP. And I've seen the separation into two accounts as a _feature_, as it means that the account that _signs_ is not the account that _pushes_.

If rubygems, PyPI et al become IdPs, that separation is lost and in the case of a single account takeover, the attacker can sign anything as that user. Put another

[2022-02-23 21:50] haydentherapper commented on #371
I think it's fair to call this a feature, but to me, it's not a critical feature. I agree that it makes the attack harder, but it's also dependent on the security of each of the identity providers. For example, having two accounts without 2FA or strong passwords would be easier to compromise than a single 2FA-protected account.

Another way to look at a single universal IdP is if it gets compromis

[2022-02-23 22:01] dirien commented on #238
kk @haydentherapper thanks for the feedback!

[2022-02-23 22:01] #238 closed

[2022-02-23 22:05] haydentherapper commented on #238
We also removed this flag recently since we dropped support for the GCP CA Service beta API.

[2022-02-24 14:49] jchestershopify commented on #371
Yes, but at the tradeoff of increasing the individual probability of compromise. And to be clear, this is not intended to be for _everyone_. It's an escape hatch for a minority. I assume events would be published to rekor by both the package repositories ("user foobar added external link") and the neutral IdP ("rubygems.org user foobar has been claimed") that could be relied on by paranoid clients

[2022-02-24 21:32] asraa opened #437 "Bug: Trigger/SHA OID extension mixup for GitHub workflow"
**Description**

I produced a handful of signing certificates from GitHub workflows, and wanted to extract some context information from the OID extensions. It seems like the trigger and SHA are mixed up:

[code]

has the extensions:
[code]

but I expect the trigger to be defined at `1.3.6.1.4.1.57264.1.2` and sha to be at `1.3.6.1.4.1.57264.1.3`.

As far as I can tell, the code extracts the corre

[2022-02-24 22:00] asraa commented on #437
It seems like extensions in https://github.com/sigstore/fulcio/pull/306/ are also not added. Maybe the CA backend isn't handling extensions correctly with the additional ones?

[2022-02-25 18:46] znewman01 commented on #371
Hmm, it seems we have different philosophies about this. I see the tradeoff more like "one 2FA-protected account" vs. "one account with 2FA account *and* one without" I'm really interested in allowing Fulcio's clients to set their own policies (with conservative and obvious defaults, of course!) for which identities to trust: requiring multiple identities/providers and adding/removing trusted prov

[2022-02-28 17:51] haydentherapper commented on #191
Everything here has been completed. Work is tracked here - https://github.com/orgs/sigstore/projects/5/views/1

[2022-02-28 17:51] #191 closed

[2022-02-28 17:55] asraa commented on #437
Closing, this was because the code was using the v1beta API

[2022-02-28 17:55] #437 closed

[2022-02-28 18:27] haydentherapper commented on #428
@bobcallaway @dlorenc - Do y'all have thoughts on this? I'd like to get this sorted out before GA because of the breaking nature of this change. I'm thinking we one of the following:
1. Deploy the latest release to `fulcio.sigstore.dev` and `v1.fulcio.sigstore.dev`. This would remove the need for the original Fulcio root CA cert. Update Cosign to use `fulcio.sigstore.dev`. I'll use `cs.github.com`

[2022-02-28 18:30] dlorenc commented on #428
I think my original plan was to do something like 1, but then change the v1.fulcio.sigstore.dev hostname to point at the same backend as fulcio.sigstore.dev. That means there's no rush to update the code or ever really turn down the hostname.

[2022-02-28 18:35] haydentherapper commented on #428
That sounds good with me. I can bring this change up at tomorrow's community meeting if that works. If code has pinned the Fulcio root to the original root, we can give folks a head's up that it'll be changing on `fulcio.sigstore.dev`.

[2022-03-01 17:58] haydentherapper commented on #428
I brought this up in today's community meeting. @dlorenc or @bobcallaway, do you want to kick off the deployment from HEAD to both clusters? We just need to give a heads up on Slack before we do.

[2022-03-01 20:09] haydentherapper commented on #428
This has been completed!

[2022-03-01 20:09] #428 closed

[2022-03-02 17:39] znewman01 opened #444 "Support a "neutral" IdP"
## Context:

1. [rubygems/rfcs#37](https://github.com/rubygems/rfcs/pull/37): resistance to sigstore adoption based on concerns about privacy and "vendorization"
2. [#371](https://github.com/sigstore/fulcio/issues/371) (non-OIDC email support): using an "email verification flow" to have email logins instead of OIDC logins is dicey -- we'd be performing "OIDC-over-SMTP" (plus no support for 2FA etc

[2022-03-02 19:17] jchestershopify commented on #444
A nitpick, the issue you probably meant is #371.

[2022-03-02 19:19] #421 closed

[2022-03-02 22:57] haydentherapper commented on #444
Discussing only the Fulcio aspect, I see no reason why we wouldn't be willing to add an IDP into either Dex or directly into Fulcio's IDPs, as long as the IDP abides by the list of requirements discussed in #397.

Is there something in particular you're looking to get out of this issue that's not already been discussed in other issues?

[2022-03-03 15:33] znewman01 commented on #444
<details>
<summary>(Possibly off-topic) I have an off-the-wall idea for an "anonymizing OIDC proxy."</summary>

Basically, it would be *both* an OIDC client and provider. The flow:

1. You initiate the Fulcio flow and choose "login with OIDCProxy.com"
2. It opens a window, which prompts you to login to OIDCProxy.com. You choose "login with GitHub"
3. You complete that flow; OIDCProxy.com then comp

[2022-03-03 17:45] haydentherapper commented on #398
Beginning work on this.

[2022-03-08 21:40] lumjjb commented on #371
Coming in late to the party here. But the discussion has been enlightening!

My understanding is that there are two groups of concerns. One stems from not trusting particular vendors/IdPs, and another is about the mechanisms - i.e. fulcio + OIDC mechanism is insufficient/doesn't cater to my use case/etc.

Disclaimer: fairly new to fulcio details so please correct me if i'm wrong

My understanding

[2022-03-09 15:44] znewman01 commented on #371
Another reference: [RFC 8823](https://datatracker.ietf.org/doc/rfc8823/) proposes "ACME email challenges" for end-user S/MIME certs. No support for 2FA and I don't see a plan for timestamping/expiry.

[2022-03-14 17:26] haydentherapper commented on #444
How do you write verification policy for such a scheme? This is my main concern with any pseudonym-based identity. As the original signature creator, you can verify your own signatures since you know what was used to construct the hash. As a verifier, you either need:
* The values used to construct the hash, but this defeats the purpose of pseudonymity.
* The hash itself, which means you separatel

[2022-03-14 21:53] znewman01 commented on #444
I think these issues can all be mitigated. I'll describe the language package manager setting for clarify.

Correct; I don't see this as a dealbreaker.

The idea is that the package repository would support OIDC logins, and you could do your *initial* login/publication for a package manager as `0xdeadbeef@oidcproxy.com`.

These pseudonyms would be public (which has its own downsides—metadata can l

[2022-03-14 22:17] haydentherapper commented on #444
This is an interesting point. This means that package verification becomes trust-on-first-use (TOFU) - A verifier pins an identity, and as long as it doesn't change, it's trusted. I think we should aim to avoid TOFU where possible, because it gives attackers an opportunity for compromise for first-time consumers.

This is also tricky because it makes it hard to change the identity of the signer. L

[2022-03-14 23:30] haydentherapper opened #474 "API improvement: Optionally provide lifetime of certificate"
**Description**

Currently, Fulcio issues certificates with a lifetime of 10 minutes. Clients may want to further limit the lifetime of certificates. The smaller the window, the less risk for reuse of the certificate within its validity period.

An optional API field could be added to allow callers to specify the lifetime of the certificate. The requested lifetime would be truncated if it's longer

[2022-03-14 23:30] haydentherapper commented on #474
cc @asraa @bobcallaway

[2022-03-14 23:55] dlorenc commented on #474
I like it!

[2022-03-15 00:19] haydentherapper opened #475 "API improvement: Specify digest of artifact in certificate"
**Description**

Consider the following attack:
* Client generates keypair K
* Client fetches a Fulcio certificate
* Client uploads signature over artifact and Fulcio certificate to Rekor log
* A malicious process (MP) steals K and certificate
* MP uploads a signature over its own artifact and Fulcio certificate to Rekor log

Currently the only defense against this attack is the limited lifetime o

[2022-03-15 13:21] znewman01 commented on #444
I think TUF techniques address both of those problems:

If we use TUF to manage the delegation to pseudonyms and distribute the trust root with the download tool, it's not really TOFU. And, as in the usual TUF context, a transparency log can help here. The "consistency" property is over the lifetime of the repo, not the verifier's local state.

I think using TUF to manage delegation to pseudonyms

[2022-03-15 15:59] asraa commented on #474
+1 for adding this!

[2022-03-15 16:07] asraa commented on #475
Let's add some strict verification here for a digest here. I would be a little worried about user-defined OID extensions (does Private CA fuzz? hahaha)

I think this would be suitable for a monitor! I'd assume if an attacker were going at these lengths, they wouldn't be using cosign and be manually uploading to rekor :)

[2022-03-15 18:09] haydentherapper commented on #444
I think where I'm getting stuck on is that initial step of an identity delegating trust to a pseudonym. Without an authentication mechanism (e.g. OIDC), it'll be hard to associate an identity with a pseudonym in such a way that prevents anyone (someone not in control of the identity) from creating that association.

I'm just concerned about the complexity of such an approach in comparison to its b

[2022-03-15 21:51] di commented on #444
Well, you @-mentioned me, so now you get a reply. 🙂

My two cents: This seems like it's just shifting complexity from artifact providers to whoever would run a neutral IdP, and possibly increasing complexity as a result.

Here's the flow I'm imagining if artifact providers are also identity providers:
1. User provides an OIDC identity token (this might be from GitHub Actions, Google, Microsoft, et

[2022-03-16 14:20] 06kellyjac opened #480 "`GetIssuer` just panics rather than issuing a useful error when there's no networking"
**Description**

`GetIssuer` panics when there's no network access

https://github.com/sigstore/fulcio/blob/v0.2.0/pkg/config/config_test.go#L104

[code]

**To reproduce**

1. have the repo
2. run `go mod vendor` so we have the dependencies available
3. `docker run -v $PWD:/fulcio --network=none -it golang`
4. `cd /fulcio` and `go test ./... -v`

**Remediation**

There should probably be an error

[2022-03-18 23:31] haydentherapper commented on #42
Priya, mind if I assign this to myself? I ended up writing a doc on embedding SCTs in certificate, and then found this issue and the CA Service problem.

[2022-03-19 00:48] #398 closed

[2022-03-21 00:11] priyawadhwa commented on #42
For sure!

[2022-03-28 22:46] haydentherapper opened #489 "Fulcio as an intermediate CA"
[Design doc](https://docs.google.com/document/d/1QLTMgjX7n74PyNpp3SIxsH7vbak8k-EoylttR25gBXM/edit#heading=h.dgwm7wkem51s)

From the work to support embedded SCTs, coupled with a desire to be able to scale beyond 25 QPS, I've written up a doc on the work to reconfigure the production instance of Fulcio as an intermediate CA.

tl;dr - An in-memory signing key is generated on each server initializati

[2022-03-29 00:21] haydentherapper commented on #193
This is complete.

[2022-03-29 00:21] #193 closed

[2022-03-29 00:23] haydentherapper commented on #43
cc @priyawadhwa @bobcallaway Something we may need to consider before GA.

[2022-03-29 15:23] k4leung4 commented on #489
I found a similar issue, https://github.com/sigstore/fulcio/issues/28, should we close that one?

[2022-03-29 16:02] #28 closed

[2022-03-29 19:21] haydentherapper opened #492 "gRPC interface"
**Description**

https://github.com/sigstore/fulcio/pull/472

[2022-04-01 17:47] imjasonh opened #501 "pkg/api/client.RootCert should use the provided *http.Client"
**Description**

`RootCert` calls `http.Get`, which uses the default client:

https://github.com/sigstore/fulcio/blob/56c15d68101f8aa3d6376bd8da9993a27edcd0cd/pkg/api/client.go#L138

Contrast with `SigningCert`, which uses the provided `*http.Client` if one was provided:

https://github.com/sigstore/fulcio/blob/56c15d68101f8aa3d6376bd8da9993a27edcd0cd/pkg/api/client.go#L97

This means that if `Wit

[2022-04-01 17:49] imjasonh commented on #501
Looks like it was added in https://github.com/sigstore/fulcio/pull/290 cc @vaikas

[2022-04-01 19:26] vaikas commented on #501
Oops, great call @imjasonh thanks! Are you sending a PR or do you want me to clean up my own messes? :)

[2022-04-01 20:28] imjasonh commented on #501
I got you: https://github.com/sigstore/fulcio/pull/502

[2022-04-02 13:31] #501 closed

[2022-04-05 21:49] di opened #503 "Support an API that accepts Certificate Signing Requests"
**Description**
Currently the `/api/v1/signingCert` API accepts a JSON body that includes a public key (`publicKey`) and a signed email address (`signedEmailAddress`).

Some ecosystems (e.g. Python) have good primitives for generating [Certificate Signing Requests](https://en.wikipedia.org/wiki/Certificate_signing_request), and it would be preferable for Fulcio to support an API that accepted CSRs

[2022-04-06 03:27] haydentherapper commented on #42
When we switch over to embedded SCTs, it's going to be a breaking change. I thought providing the SCT in both the header and embedded would be fine, but it's not sufficient. The SCT is generated using the precertificate, which doesn't contain the embedded SCT. The current version of Cosign doesn't know to reconstruct the certificate without the embedded SCT, so signature verification fails (it's j

[2022-04-07 16:52] haydentherapper opened #510 "Log sharding strategy for Fulcio"
**Description**

We need to figure out the log sharding strategy. The simplest approach is to follow what other public CAs do, a new log every year accessible from a unique URL. Let's name shards using the year - ctfe.sigstore.dev/2022, ctfe.sigstore.dev/2023, etc. The current log is accessible at ctfe.sigstore.dev/test, so it'd be good to exercise a sharding before GA.

Each year, the TUF targets

[2022-04-07 16:55] haydentherapper opened #511 "Fetching OIDC provider configuration does not use timeout"
**Description**

Instead of `context.Background()`, need to create a context with a timeout. [Here](https://github.com/sigstore/fulcio/blob/b2186c01da1ddf807bde3ea8c450226d8e001d88/pkg/config/config.go#L135) and [here](https://github.com/sigstore/fulcio/blob/b2186c01da1ddf807bde3ea8c450226d8e001d88/pkg/config/config.go#L148)

[2022-04-07 18:00] haydentherapper opened #512 "LRU cache of OpenID configuration does not expire"
**Description**

There are two caches wrt to OIDC - A cache that manages the verifiers (which contain metadata from `./well-known/openid-configuration`), and a cache per-verifier for the keyset (from `jwks_uri` from the well known configuration).

The OIDC go library keeps a cache of the keyset. If a verification fails, it re-fetches the keys from the JWKS URI, so we don't need to worry about an e

[2022-04-09 17:13] #489 closed

[2022-04-09 17:23] haydentherapper commented on #310
https://github.com/sigstore/fulcio/pull/507 will solve this since an SCT list will be embedded in certificates.

[2022-04-09 21:23] vaikas commented on #310
Nice!

[2022-04-13 16:19] #42 closed

[2022-04-13 20:11] haydentherapper commented on #310
Closing issue, as we now support embedding SCT lists in certificates.

[2022-04-13 20:11] #310 closed

[2022-04-13 20:16] haydentherapper commented on #243
Following along, it looks like customizable audiences isn't coming in 15.0 - https://gitlab.com/groups/gitlab-org/-/epics/7335

[2022-04-13 20:17] haydentherapper commented on #190
Luke, can I close this? I think this is now outdated with the gRPC work.

[2022-04-13 20:18] haydentherapper commented on #14
Closing since this is done as part of GA

[2022-04-13 20:18] #14 closed

[2022-04-13 20:19] haydentherapper commented on #65
Closing, all of these have been decided

[2022-04-13 20:19] #65 closed

[2022-04-13 20:20] haydentherapper commented on #12
An intermediate CA will be added shortly, and we can disable the root.

[2022-04-14 13:46] #510 closed

[2022-04-15 01:23] #302 closed

[2022-04-15 03:29] haydentherapper commented on #492
Completed!

[2022-04-15 03:29] #492 closed

[2022-04-15 21:23] haydentherapper opened #525 "gRPC legacy server does not return correct error statuses"
**Description**

When the gRPC server returns an error to the legacy server, the errors are wrapped and returned, such as [here](https://github.com/sigstore/fulcio/blob/main/pkg/api/legacy_server.go#L82)

This results in the error status always being a 500, with the JSON error response code being '2' for unknown error. For example, `{"code":2,"message":"legacy handler: rpc error: code = InvalidArg

[2022-04-15 21:29] haydentherapper commented on #525
Ah easy fix! Just needed to remove the wrapped error.

[2022-04-15 23:24] haydentherapper commented on #503
@dlorenc @lukehinds - I'm taking a look at adding support for CSRs as a key delivery and proof of possession mechanism. It was mentioned to me that there was a conversation from awhile ago around not supporting this - Do you recall the context?

I'm in support of this feature, as there's more widespread support for CSR generation than encoding public keys. It also simplifies the proof of possessio

[2022-04-16 01:25] dlorenc commented on #503
I have no problems adding it for compatibility.

[2022-04-16 01:26] #525 closed

[2022-04-19 00:46] haydentherapper opened #528 "Issue calling AddChain"
**Description**

Investigating this - From head, I'm getting a signature validation error calling AddChain, but not AddPreChain.

[2022-04-19 01:57] haydentherapper commented on #528
Never mind! It seems like my local CT log got messed up. I don't think docker-compose is sufficient, but not sure what is causing this issue...fixed by tearing everything down.

[2022-04-19 01:57] #528 closed

[2022-04-19 08:10] #190 closed

[2022-04-20 00:30] n3wscott commented on #303
I just wrote this code for ... something else. Let me look at upstreaming a version of it here too.

[2022-04-22 06:47] allstar-app[bot] opened #538 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or main

[2022-04-22 15:57] haydentherapper opened #539 "Changing the detached SCT to the correct format"
**Description**

See https://github.com/trailofbits/sigstore-python/pull/24 - There was an issue around unmarshalling because the detached SCT is in an unexpected format.

Given that Fulcio 0.4 will break the Cosign client already, I'd like to just go ahead and fix the header. We'll need to hold off on Fulcio 0.4 and release Cosign 1.8 (with a change to expect a different struct for the detached S

[2022-04-22 16:03] haydentherapper commented on #539
Another option - When we switch the production instance to return embedded SCTs, any integrators need to support those, instead of detached SCTs. We can then fix detached SCTs later.

[2022-04-22 16:30] haydentherapper commented on #539
Given that we're in the middle of releasing Fulcio 0.4 and Cosign 1.8, and given that the SCT format will change anyways once we roll out the new config changes for the production instance of Fulcio, let's not make any additional changes right now.

Once the production changes are rolled out, I'll update the detached SCT to be the right format (since at that point, no one will be impacted).

[2022-04-22 18:33] di commented on #539
I'm not sure the current format is "wrong", it's just misleading to call it a signature. [RFC 5246, section 4.7](https://tools.ietf.org/html/rfc5246#section-4.7) calls this a 'digitally-signed element', and I think it could be useful to have additional means to verify the signature algorithm and hash algorithm.

Given that we're currently writing clients against this API, and since I'm guessing th

[2022-04-22 19:08] woodruffw commented on #539
This is my thinking as well (although I'm admittedly less familiar with the ecosystem here). If I understand correctly, we *do* need some of the metadata in the `DigitallySigned` payload if Fulcio ever begins to do/support signatures that aren't ECDSA + SHA256.

[2022-04-24 00:08] haydentherapper commented on #539
I'm referring to the subtle differences between the structs:

For the detached SCT, it's marshalled into a `AddChainResponse`:

[code]

Whereas the `SignedCertificateTimestamp`, what will be embedded in the certificate, contains the digitally signed type:

[code]

I think a client should be able to assume that the same struct is present in the embedded certificate and the header. I don't want to f

[2022-04-25 12:54] dlorenc commented on #538
Fixed

[2022-04-25 12:54] #538 closed

[2022-04-28 22:13] haydentherapper opened #547 "Requesting to be a maintainer for Fulcio"
I would like to nominate myself to be a maintainer and approver on Fulcio.

I have a strong background in PKI, having developed two cloud-based certificate authorities ([GCP CA Service](https://cloud.google.com/certificate-authority-service/docs), [GCP Mesh CA](https://cloud.google.com/service-mesh/docs/unified-install/options/ca-migration)). I have previously worked on integrating with OIDC, so I

[2022-04-28 22:16] bobcallaway commented on #547
+1 - thanks for all the hard work and looking forward to future contributions!

[2022-04-29 05:02] lukehinds commented on #547
+1 from me!

[2022-04-29 11:28] dlorenc commented on #547
+1!

[2022-04-29 11:36] mattmoor commented on #547
+1

[2022-04-29 12:26] cpanato commented on #547
huge +1

[2022-04-29 14:15] #547 closed

[2022-04-29 23:29] haydentherapper opened #550 "Incorrect key usage set for certificates generated by service"
**Description**

Certificates are currently issued with the KeyCertSign key usage ([code](https://github.com/sigstore/fulcio/blob/0b972e84bfecaeaa5b75b269ba5268db47304fbd/pkg/ca/x509ca/common.go#L58)). This is incorrect - Certificates that have this key usage must also assert the `isCA` bit, as per RFC5280. KeyCertSign means that the certificate's public key is used to verify certificates whereas

[2022-04-30 00:17] #550 closed

[2022-04-30 19:23] martinsstuff opened #551 "Question/Idea: Reverse Domain Name Notation Identity via DNS and Public/Private Keys"
(I have only been following Sigstore for a couple weeks so apologies if this has already been discussed somewhere!)

## My thoughts

As a big fan of Let's Encrypt, I have been very interested in Sigstore ever since I found out about it. However, I always found the email-via-OIDC system quite limited. I see there are multiple discussions about this topic, but so far they all still seem focused arou

[2022-04-30 22:05] dlorenc commented on #551
Hey! Thanks for the issue. I think we might already support something similar to what you're describing through SPIFFE and SPIRE. It's documented here: https://github.com/sigstore/fulcio/blob/e88278c03c1593ea3f6dc68d7c7144e545a1fb3b/docs/oidc.md#L27

Note that it still goes through the OIDC flow, but it doesn't use emails. You can expose a SPIRE OIDC endpoint at a URL, and we use the DNS from that

[2022-05-01 15:33] martinsstuff commented on #551
@dlorenc This looks interesting but since I don't already use SPIFFE it seems like it might be a big setup just to sign code, but I'll have to try it out.

[2022-05-03 19:41] haydentherapper commented on #277
This is now supported with the KMS-backed signing CA - You can specify a Vault key path.

[2022-05-03 19:41] #277 closed

[2022-05-05 23:14] nsmith5 commented on #551
I like the idea of a domain as subject but I agree its a bit of work to set up a SPIFFE trust domain to get this working. Instead of posting a public key and needing to maintain that private key over time (Like DKIM when you manage an email server) it might be better to think about supporting the DNS challenge ACME challenge like LetEncrypt and use short lived certificates like we currently do.

[2022-05-06 23:59] haydentherapper commented on #551
While it is some work to set up SPIFFE/SPIRE and OIDC, it encourages better security practices than self-management of the private key for a DNS-based approach. I'd love to see folks try out SPIFFE and see where the pain points are, and maybe we can help with tooling to make it simpler to set up.

[2022-05-07 11:27] #511 closed

[2022-05-10 23:07] wlynch opened #563 "Adding Rekor OIDs?"
**Question**

Half question / half looking for feedback: do we have any sort of process for adding new [Sigstore OIDs](https://github.com/sigstore/fulcio/blob/main/docs/oid-info.md) (beyond just opening a PR)?

An idea I had recently was to add OIDs for classifying Rekor data in order to embed info in signatures that allow for ASN.1 identifiers (such as [PKCS7 attributes](https://datatracker.ietf.

[2022-05-10 23:17] haydentherapper commented on #563
What would be the purpose of this? Is this just an optimization so the client doesn't need to know the Rekor log location?

I'd prefer that Fulcio and Rekor remain separate - Fulcio's job is associating an identity with a key, and Rekor's is witnessing an event. I don't think Fulcio should sign off on the location of the log entry - It's unverified metadata.

[2022-05-10 23:23] haydentherapper commented on #563
Maybe I misread - Is this asking just generally about creating new OIDs, or including additional metadata in issued certificates?

[2022-05-10 23:26] wlynch commented on #563
Yup! If you saw a signature and didn't know where the Rekor instance was, it could be a way to hint where to go.

+1 to keeping fulcio and rekor separate - mainly inquiring about creating new OIDs / whether or not such an OID would be a bad idea (e.g. if the value was misleading, would this be a vector for abuse?)

I opened this question here since the fulcio repo is the only instance where these

[2022-05-10 23:33] haydentherapper commented on #563
We could create `1.3.6.1.4.1.57264.2` for Rekor. Ideally it shouldn't be misleading, OIDs should be unambiguous.

I'd be curious to see more about how you'd like to use OIDs! The tricky thing is they aren't the easiest to work with when it comes to client libraries. The other thing to consider is if the value is unsigned, there's an opportunity for a vulnerability - Say if you included the URL in

[2022-05-10 23:49] wlynch commented on #563
Signature types like PKCS7 do allow for signed attributes! But thinking through this more I think your point still holds since signed doesn't necessarily mean trusted.  i.e. we may be able to verify a signed value, but we wouldn't be able to trust the public key until we reached out and verified it with the log itself, right? So in that case the value of this would be limited. 😞

[2022-05-11 16:37] wlynch commented on #563
Sleeping on it, I think I'm sufficiently convinced we don't want this, so closing out.

Thanks for helping bounce ideas @haydentherapper! 😃

[2022-05-11 16:37] #563 closed

[2022-05-11 23:49] nsmith5 commented on #480
Oh dang that is lame. Thanks for the bug report! I think this test is triggering OIDC discover and making a network call because of it

[2022-05-13 05:05] nsmith5 commented on #372
Readme is a lot more reasonable now. Closing this

[2022-05-13 05:05] #372 closed

[2022-05-17 00:42] haydentherapper opened #589 "Document process for creating a new CT log shard"
**Description**

[2022-05-17 01:58] #480 closed

[2022-05-17 16:21] haydentherapper commented on #275
@nsmith5 Do you have an estimate as to the amount of work left for this refactor? Context is determining when to make a new release of Fulcio.

[2022-05-17 17:02] nsmith5 commented on #275
Yup remaining work is as follows:

- [ ] Make `FulcioConfig` obey the Issuer interface
- [ ] Stick that in an IssuerPool and replace the current `FulcioConfig` usage
- [ ] Break up all the issuer implementations in `FulcioConfig` and `ChallengeResults` one by one

So maybe a week or two?

[2022-05-17 17:06] haydentherapper commented on #275
Thanks. We'll likely cut the prerelease candidate from before this then, cherry-picking in any bug fixes.

[2022-05-17 21:54] di opened #591 "Add support for CircleCI tokens"
**Description**

Similar to #243, CircleCI supports OIDC tokens: https://circleci.com/docs/2.0/openid-connect-tokens/

Also similar to #243, the `aud` is not customizable: https://circleci.canny.io/cloud-feature-requests/p/customizable-audience-claim-in-oidc-tokens

[code]
[code]

[2022-05-18 10:37] Brcrwilliams commented on #243
Hi 👋 GitLab team member here. We're working on making the `aud` claim configurable via https://gitlab.com/gitlab-org/gitlab/-/issues/356986. Currently, this is scheduled for 15.2 which releases on June 22, but this is subject to change. I recommend following the issue for updates on progress.

[2022-05-18 11:40] dlorenc commented on #243
Amazing news!

[2022-05-23 14:36] olearycrew commented on #243
@dlorenc another GitLab team member here - this is a really exciting project so I'll be tracking as well as I'd love to get this working and show it off to the community. :smile:

[2022-05-24 01:25] haydentherapper opened #607 "Add API for fetching Fulcio configuration"
**Description**

Suggested by @var-sdk, clients have no way to discover what OIDC issuers are supported by Fulcio programatically. Additionally, without reading source code or documentation, clients don't know which claim needs to be signed for a proof of possession. Let's create an API that provides the following:
* All OIDC issuers
* The expected audience of the token
* The claim that needs to b

[2022-05-24 15:59] k4leung4 opened #612 "Provide suite of tests for validating releases and deployments"
**Description**

To better streamline releases and deployments, we need a suite of tests that we can run to validate releases and deployments.

@haydentherapper Can you outline what tests you would like to see and what tests we have and which ones we are lacking.

[2022-05-24 16:34] lukehinds commented on #607
Sounds like a good idea to me.

[2022-05-24 17:08] haydentherapper commented on #612
The gRPC test suite [code](https://github.com/sigstore/fulcio/blob/main/pkg/api/grpc_server_test.go) is fairly thorough. It tests all endpoints with different types of issuers. For each supported issuer for the production environment (email, SPIFFE, GitHub and K8S currently), we should test a successful certificate issuance. We should also test the other GET endpoints.

Tests over HTTP could be co

[2022-05-24 17:28] k4leung4 commented on #612
Are you proposing we should have the equivalent of the gRPC test suite, but pointed at a live instance?

As for supported issuer, do we have documentation on how to test each of the issuer? with the lack of documentation and existing test, do we actually know if the spiffe actually works, other than a user telling us it doesnt? im worried that we have previously added support for issuers but never

[2022-05-24 17:48] haydentherapper commented on #612
Yea, I'd like a subset of the suite tests pointed against the live instance, exercised before a release:
* Issuing a certificate with the Dex provider
* Issuing a certificate with the GitHub provider
* Issuing a certificate with a K8S provider
* Checking api/v2/TrustBundle can be used to verify an issued certificate

Some of those may be harder than others to set up, particularly GitHub and K8S. I

[2022-05-25 17:09] k4leung4 commented on #612
I would like to see new tests in Go, as it is easier to maintain, and less likely to grow organically in an unmanageable fashion.

Agree on the verifying of GitHub/Dex/Google/K8s providers.

I think it is fair to have automation in scope for GA.

Moving forward, I would like to push to have e2e integration tests for all new features so we can avoid the situation where we don't feel confident about

[2022-05-26 22:26] nsmith5 commented on #591
@zalimeni I see on the [Circle roadmap](https://circleci.com/product-roadmap/) that API tokens getting auto injected into builds will be a think in the future. Is there any change that these tokens will be usable to grab OIDC tokens with custom claims. IIRC this is how it works in Github actions. There is a token with a default `aud` but you can request a new one with a different audience inside y

[2022-05-26 22:46] nsmith5 commented on #243
@Brcrwilliams and @olearycrew do you have some initial ideas for which claims from your OIDC token you might want to map into certificate extensions? You can see the claims that are mapped from Github Actions tokens here: https://github.com/sigstore/fulcio/blob/main/docs/oid-info.md

Mapping these OIDC claims to x509 extensions allows folks to write meaningful policy like

Once we have that solidi

[2022-05-31 04:12] tonistiigi opened #624 "Add Github workflow run information to the signing certificate"
**Description**

Currently the certificates created via Github token add the following GH info fields:

[code]

Would be good if this info would also include the workflow run information. Based on https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#understanding-the-oidc-token the token includes the run ID, run count and at

[2022-05-31 05:54] haydentherapper commented on #624
@asraa Any thoughts on this? Do you have the context on the set of information we initially chose to include in issued certs for GitHub?

Some of this information seems more like build provenance rather than identity. It also depends where we draw the line for what represents a GitHub Actions identity. If we add this additional information, each run will get its own certificate with different iden

[2022-05-31 19:02] asraa commented on #624
Hey @tonistiigi - thanks for the issue!

Yes, I totally see the concern here.

To reiterate on the Hayden's point on identity: I think the information we include in the cert is meant to pinpoint the Workflow itself as an identity, not the Run (the repo, commit hash and ref pinning the workflow content). An anlogy would somewhat be that GitHub logins pinpoint on GitHub username/emails, and does not

[2022-05-31 19:22] tonistiigi commented on #624
I agree that fields like these (eg. links to build logs) could also be part of provenance but in the example case, the attacker has already managed to trigger a workflow. So they have full control of the builder. Where builder writes the provenance payload from the environment to say build logs is at path `/logs/234` they can modify it to say `/logs/123` instead. One thing they can't fake is the i

[2022-06-01 01:03] tonistiigi commented on #624
@haydentherapper Not a policy that verifies a specific RunID but that the signer was allowed to sign such a provenance that points to build logs at a specific RunID.

[2022-06-01 05:40] haydentherapper commented on #368
Going to close this. Almost every function in pkg/ has a test, even though codecov says we're at 60%ish. I'm happy with the level of coverage.

[2022-06-01 05:40] #368 closed

[2022-06-01 05:44] haydentherapper commented on #208
@asraa Good to close this issue as fixed?

[2022-06-01 15:28] laurentsimon commented on #624
Can you explain more what you mean by "So they have full control of the builder"? The attacker cannot control what the build service writes into the provenance, besides compiler arguments and env variables used to compile a binary.

[2022-06-01 16:01] tonistiigi commented on #624
@laurentsimon It depends on what tool you use to generate the provenance. The condition for this case is that attacker already triggered a workflow they can control. So if as part of your workflow you are running a process that runs the builder/generator process the attacker can modify this process before it is invoked. Or it can just instead run its own process that just generates the same JSON b

[2022-06-01 18:11] laurentsimon commented on #624
I'm not following. The attacker *cannot* influence the content of the provenance, except for the build steps (and the final hash). The attacker *cannot* influence the run ID, run attempts and run number: the trusted builder (the one I provided links for) retrieves this information itself, without any input from the attacker. The attacker does *not* control the builder: it has an interface the atta

[2022-06-01 20:45] haydentherapper commented on #43
Going to move conversation over to https://github.com/sigstore/fulcio/issues/589 and close as dup

[2022-06-01 20:52] haydentherapper commented on #589
To rotate a log, the following needs to occur:
* Spin up a new Trillian instance (log server and signer) and MySQL database
   * The log should use the same signing key unless there was a compromise. If there was a compromise, the log's verification key must first be distributed to clients via TUF
   * The log's prefix will be changed to the current year. Currently, the prefix is `test`. For the f

[2022-06-01 20:56] haydentherapper commented on #589
Also should add a prober pinging `ct/v1/get-sth` for each log shard

[2022-06-01 21:11] dlorenc commented on #474
It hasn't come up anywhere in a real use case so I'm fine closing it

[2022-06-01 21:12] #474 closed

[2022-06-02 03:42] tonistiigi commented on #624
I don't know what you mean by the attacker but it is not what I think.

Going back to Fulcio, I (attacker) have obtained a capability to run my code in workflows in Github. Doesn't really matter how, for simplicity let's say credentials of a project maintainer were stolen. Inside my code, I can contact Fulcio and request a signing certificate with the fields listed above. With this certificate, I

[2022-06-02 03:52] laurentsimon commented on #624
The certificate used by the trusted builder is *not* accessible by your repo. The trusted builder has it own identity. When you verify the provenance, you first verify that it was generated by the trusted builder. So in your case, verification would fail because it would have the wrong identity. Once the identify of the verifier is done, verification verifies the repo the source code came from, in

[2022-06-02 04:11] tonistiigi commented on #624
Which of the fields listed above is different? If I as a repo author can't trigger workflow with the correct identity then who can?

That's exactly the case I'm talking about. Even when there is a compromise to the access to workflows, attacker should not be able to fake the logs (as logs are managed by Github itself).

[2022-06-02 08:13] ianlewis commented on #624
@tonistiigi As I understand it, in your threat model the attacker has control over the developers Github credentials and can start a workflow in a repository they have access to. Am I understanding correctly?

I think what @laurentsimon is saying is that by using the reusable workflow he linked to the OIDC token that is retrieved from the Github provider and used to sign the provenance is linked t

[2022-06-02 16:58] Brcrwilliams commented on #243
@nsmith5 Currently we provide several claims in this JWT which are documented under [Connect to Cloud Services](https://docs.gitlab.com/ee/ci/cloud_services/#how-it-works). I think these ones would be useful for policies:

- `namespace_id`
- `namespace_path`
- `project_id`
- `project_path`

These would allow you to assert that the image was signed by a specific project or organization (A namespace

[2022-06-02 17:03] haydentherapper commented on #243
To be in sync with GitHub Actions-bound certificates, we'd also want to include information about the CI workflow that was run. I believe that's `pipeline_id` or `pipeline_source`.

[2022-06-03 04:16] tonistiigi commented on #624
maybe

yes

Thanks. So Subject in the cert is always `https://github.com/slsa-framework/slsa-github-generator@...`? . Couldn't test because example failed for me in `build/provenance` step. Policy verifies that it is that exact string irrespective of the project being built. It does make the generator repo a single point of failure, but I guess that is acceptable and not an issue in practice.

Tha

[2022-06-03 05:10] ianlewis commented on #624
no worries, I hope my explanations are making some sense.

If you use the reusable workflow, yes, as that is the ID used to create the certificate and do the signing.

I understand. I think it depends on what you consider safe. If tying a signature back to source code and/or specific build run IDs is needed to be safe, then I agree with you that more metadata is needed. Others might be fine with j

[2022-06-03 06:10] tonistiigi commented on #624
Interesting. So you mean it is signed by Fulcio root directly, not by the user's key? Is there some discussion/work going on that I could read on this?

I guess that would mean that you can only sign very strictly defined payloads. This isn't just about signing provenance attestations artifacts and other related objects as well. You can make some strict rules on how a provenance definition matches

[2022-06-03 07:57] kommendorkapten commented on #624
I think what was meant is that "use Fulcio to generate a short lived certificate", and sign with that. This is for instance how the https://github.com/slsa-framework/slsa-github-generator works.

[2022-06-03 10:50] ianlewis commented on #624
Apologies it wasn't clear. I don't mean signing using fulcio's root but rather via an "ephemeral certificate" which is a short lived certificate issued by the fulcio server and is used once. The expectation is that using ephemeral certificates is not necessarily specific to any kind of data.

For example, `cosign` lets you sign data in one go if you enable experimental features.
[code]

Here it...

[2022-06-03 12:00] znewman01 commented on #80
I [investigated this a little bit](https://docs.google.com/document/d/1xLX6SroHMLltAc55DNlVtwQzKTw5uu6WMq9xL_1GTVA/edit#heading=h.s6b78ld8xj8x) in the context of Demonstrating Proof of Possession at the Application Layer (DPoP), a draft extension to OAuth.

tl;dr: DPoPs *could* enable this, but not in their current form.

[2022-06-03 15:49] tonistiigi commented on #624
I think I understand how cosign/fulcio work but your latest comments have me quite confused.

In both comments you say that cert is thrown away and never used again. So what is the point of signing and how do you verify the signature?

`cosign sign` will store the certificate(and trust chain) with the image in the descriptor. `cosign sign-blob` has `--output-certificate`(or stdout print). If you d

[2022-06-03 16:49] acald-creator opened #638 "Fulcio unable to verify/retrieve Google Certificate Authority url path"
**Description**

First off, I want to say, I am a newcomer on Sigstore projects, but so far, I am loving the projects and I want to become involved in the process as well, so I'm making my way through each of the repositories and see what I can do. While I was doing that, I came across this tutorial so I can set it up myself within GCP and any other cloud platforms.

The one issue I came across is

[2022-06-03 16:58] haydentherapper commented on #638
Hey there, welcome!

The issue is that GCP CA Service issues certificates from the CA Pool resource, not the CA resource itself. To fix this, just drop the `/certificateAuthorities/20220602-xxx-xxx` suffix from the `gcp_private_ca_parent` flag, so `gcp_private_ca_parent=projects/<PROJECT_NAME>/locations/us-central1/caPools/<CA_POOL>`

The reference to `gcp_private_ca_parent=projects/project-rekor/

[2022-06-03 17:09] acald-creator commented on #638
Hi thank you for the prompt response!

The reference document I found to use `gcp_private_ca_parent=projects/project-rekor/locations/us-central1/certificateAuthorities/sigstore` is at https://github.com/sigstore/fulcio/tree/main/config

Let me try the suggestion and see if that works for me. I figured it was a path that `fulcio` is looking for but I was scratching my head a bit. Reading go code is

[2022-06-03 17:30] haydentherapper commented on #589
Chatted with @k4leung4 about the process for sharding a CT log. To summarize, we need to add support for creating an arbitrary number of CT log instances, where each will have its own Trillian tree and configmap.

One option is to create separate GCP instances for the database that backs Trillian. I opened up an issue to discuss separating Rekor and the CT log's infrastructure first. I'd be fine w

[2022-06-03 17:43] acald-creator commented on #638
I was able to do it with the recommended change. The only thing I found was that Fulcio was asking for the ctfe public key file which was stated in the tutorial https://github.com/lukehinds/sigstore-the-hard-way/blob/main/docs/07-certifcate-transparency.md which is how I got my first setup.

I found the recommended steps to create the public keys from https://blog.chainguard.dev/sigstore-the-local

[2022-06-03 17:48] haydentherapper commented on #638
For local testing, Cosign also has a flag where it'll skip the check that the certificate was included in a CT log. The local way blog post sets up a local environment with all the requirements.

[2022-06-03 21:40] znewman01 opened #639 "What does the email in a Fulcio certificate mean?"
It's becoming clear that we're not telling a consistent story about "Fulcio identities." I filed https://github.com/sigstore/cosign/issues/1947 to address the fact that I've seen a number of instances where users recommended passing the `--cert-email` flag to Cosign without checking the issuer. Because there's overlap in the email subjects that different Fulcio IdPs issue tokens for (that is, Goog

[2022-06-03 22:00] haydentherapper commented on #639
I don't see much difference between a certificate for the email "user@microsoft.com" and a certificate for the username "user" from Microsoft. In both cases, you need to be aware of the issuer vouching for that identity. We can treat email like a username - It's just a value associated with an issuer.

To me, a Fulcio certificate attests to the following:
* Proof of possession of a signing key at

[2022-06-03 22:06] znewman01 commented on #639
How about in https://github.com/sigstore/sigstore or https://github.com/sigstore/cosign ? I don't have concrete proposals, but I have a hunch that it's possible to create interfaces to the Sigstore verification code that makes expressing sensible verification policies easy, and less-sensible ones hard.

[2022-06-03 22:11] haydentherapper commented on #639
I'm a huge fan of pushing verification logic into sigstore/sigstore. I'm quite concerned that as we build more clients, even with robust client conformance testing, there will be subtle verification flaws between each of the clients. If clients can depend on sigstore/sigstore instead of trying to re-interpret what Cosign does, there will be consistency.

There's a larger conversation that pops up

[2022-06-03 22:20] nsmith5 commented on #639
I agree we could use a good hard-to-mess-up interface to verification, but I don't think that is a concern of Fulcio. Like @haydentherapper said, the CA is very transparent about what it did. The subject and issuer details are embedded into each certificate and can be used to create good policy, but Fulcio as a service or library isn't really in a  great position to dictate that policy or verifica

[2022-06-03 22:42] ianlewis commented on #624
Ah, yes. You're right. I confused things a bit. The *signature* is included in the DSSE that wraps the provenance info. The *public key* cert is stored in rekor and is retrieved from there for validation. The private key is what matters to be thrown out and is discarded after signing (the public key is what is printed).

I'm not sure it convinces me that public keys are a good place to store build

[2022-06-03 23:00] haydentherapper commented on #638
Created a PR with some doc cleanup, marking as fixed!

[2022-06-03 23:00] #638 closed

[2022-06-06 17:00] haydentherapper commented on #612
Note to self: We need to also test:
* Values of the certificate
* Successful entry in a transparency log, successful verification of the SCT, and verify inclusion proof

[2022-06-07 18:16] asraa commented on #475
cc @laurentsimon

[2022-06-07 18:23] asraa commented on #475
This also protects against
1. Entry malleability
2. The need to distribute separate sig

However, this relies on trusting the CA (which we already do), but the delegation of the trust is different. The CA is trusted to sign code-signing certs, not to attest data or content.

Atlernatives:
* Add the signature as an optional extension. This would also prevent against any of the risks/threats. It's k

[2022-06-07 19:12] haydentherapper opened #641 "All log messages have an error severity"
Found by looking at the logs on the GCP project. Some guesses to the source of the bug:

Everything might be severe by default:
https://github.com/sigstore/fulcio/blob/509c7892587969471e04959b8bc9246f7389b88d/pkg/log/log.go#L42

No logic to differentiate between OK and non-OK:
https://github.com/sigstore/fulcio/blob/509c7892587969471e04959b8bc9246f7389b88d/pkg/log/log.go#L105

[2022-06-08 14:18] loosebazooka commented on #612
Questions/things so I can frame this in the client perspective and then also put man power behind this:
1. Should e2e tests live independently of the service (fulcio/rekor) repos? (in GA repo?)
2. These test will run against prod and staging?
3. Should/can staging always just be latest relase on each of the service repos? (is it already?)
    - alternatively can there be latest, staging, prod, whe

[2022-06-08 14:52] k4leung4 commented on #612
1. I think it makes sense to for e2e tests to live in a common repo that the service repos can access. Not sure if sigstore/sigstore would make sense or having its own repo. If it is a blocker, I would just choose one a service repo and we can migrate to another repo at a later point.
2. The goal is to run it against staging, and as necessary against prod. I think running against prod initially wi

[2022-06-09 14:14] laurentsimon commented on #475
Not sure this is fully true. The leaf cert is only valid for code signing, so verification should fail unless clients disregard the v3 extension. That's not directly related to the proposal in the issue. What I mean in that in the current implementation, clients may also disregard the extension. So I don't think this changes the trust model; it just removes on hop in the chain.

An alternative wou

[2022-06-13 14:57] woodruffw commented on #639
Sorry for the late follow-up, but this completely refutes my claim about multiple IdPs not resulting in a weaker threat model in https://github.com/sigstore/cosign/issues/1947#issuecomment-1146536741 -- thanks for providing it!

This is a really bad problem to have -- my intuition as an end user is that an attestation from a "high-quality" IdP for `example@example.com` is (almost) as good as a dir

[2022-06-14 05:36] haydentherapper opened #646 "Add Tink signing backend for local signing"
**Description**

A Tink keyset will be encrypted with a remote KMS key, and on CA startup, the keyset will be decrypted and loaded into memory. Keys can be created and encrypted using https://github.com/google/tink/blob/master/docs/TINKEY.md.

There are two main benefits from this work: We can leverage this instead of KMSCA if we need to support a higher QPS, and Tink keysets use strong secure def

[2022-06-20 09:45] Dentrax opened #654 "Getting panic during initialization hashivault"
**Description**

I followed the [Build Your Own Certificate Authority (CA)](https://learn.hashicorp.com/tutorials/vault/pki-engine) article from the beginning to get my PEM-encoded cert chain. Then configured my flags as described at [KMS](https://github.com/sigstore/fulcio/blob/main/docs/setup.md#kms=) section. The panic line is [sigstore/sigstore/pkg/signature/kms/hashivault/client.go#L202](http

[2022-06-28 21:15] #646 closed

[2022-06-28 21:16] haydentherapper commented on #654
@Dentrax, do you want to update Fulcio's sigstore version to pick up this fix?

[2022-06-28 22:06] Dentrax commented on #654
Yes, will do! I was waiting for the following PR to be merged before do bump the sigstore version:

https://github.com/sigstore/sigstore/pull/522

[2022-07-01 11:25] #654 closed

[2022-07-05 15:43] fredcsfaria opened #672 "Browserless OIDC authentication flow"
**Question**

Is there any way to do the authentication with OIDC  without needing to use a browser  ?

[2022-07-07 06:17] #641 closed

[2022-07-08 18:20] wlynch opened #676 "Should we move cosign's cert verification / policy checks to fulcio repo?"
**Question**

I found out recently that the policy-controller has a dependency on cosign in order to use it's Fulcio certificate verification -
https://github.com/sigstore/policy-controller/blob/05108e3476df8d9078d7cbc3d181f0060dd23df8/pkg/webhook/validation.go#L111-L116

A good chunk of this appears to be Fulcio cert validation:
https://github.com/sigstore/cosign/blob/a4cb262dc3d45a283a6a7513bb76

[2022-07-08 18:20] wlynch commented on #676
cc @imjasonh

[2022-07-08 18:33] imjasonh commented on #676
We could also have this expressed in Fulcio as "extract useful stuff from the cert" (emails, etc) and have it return those for cosign, policy-controller, etc., to verify against whatever policies. If the cert is invalid, `fulcio.ExtractStuff` returns an `err`.

That's sort of what `ValidateAndUnpackCert` sounds like it does already, it just "unpacks" it and immediately checks it against `CheckOpts

[2022-07-09 16:30] fredcsfaria commented on #672
Hello ,

   - Which identity provider are you wanting to authenticate against?
GitHub/Google

   - Can you describe your use case (e.g. why would a browser not be available or desirable)?
We have some remote  linux dev  environments  with no GUI support  due to company governance/security policies.   

    Em quarta-feira, 6 de julho de 2022 09:06:10 BRT, Bob Callaway ***@***.***> escreveu:

Hi -

[2022-07-11 19:52] haydentherapper commented on #676
I'm happy to have this moved out of Cosign and into Fulcio. A `client` package would be helpful.

I'd prefer it live in Fulcio, rather than sigstore/sigstore. I'm not certain we know exactly what should live in sigstore/sigstore, and I'd worry it'll slowly turn into Cosign V2 if we just start moving everything out.

[2022-07-11 21:44] haydentherapper commented on #330
Going to close this, as it's not something we'd add to Fulcio. Trillian or CT could add an API for this, but they may not want to since it risks insecure design patterns, such as fetching the public key from the log before verifying the entry. They may want to force out-of-band delivery of the verification key.

[2022-07-11 21:44] #330 closed

[2022-07-11 21:45] haydentherapper commented on #379
Discussion in community for this issue, closing.

[2022-07-11 21:45] #379 closed

[2022-07-16 11:52] lukehinds commented on #676
sigstore/sigstore is the prefered home, as in the past we have made efforts to keep client code outside of rekor / fulcio and instead utilise sigstore/sigstore.

sigstore/sigstore, would be better titled as sigstore/sigstore-go (like sigstore-rs, sigstore-python), but go is a mess when it comes to renames.

[2022-07-16 11:57] lukehinds opened #689 "Return cert chain in json"
Right now we return the cert chain back with whitespace delimiters, it should instead be a json array. I am having to write some ugly arse regex to parse this out in rust.

[2022-07-16 17:18] haydentherapper commented on #689
gRPC solves this - https://github.com/sigstore/fulcio/blob/main/fulcio.proto#L195

[2022-07-16 17:28] haydentherapper commented on #676
One concern with this is it'd be best if the maintainers of the respective repositories had ownership of this logic and visibility into changes to this logic. Those who maintain Rekor are most likely to understand the tlog verification flow, and for Fulcio understanding the certificate verification flow.

[2022-07-17 09:58] lukehinds commented on #689
cool. so I figure this is not deployed to the fulcio.sigstore.dev yet

[2022-07-18 00:49] haydentherapper commented on #689
It has been as of Fulcio 0.4, for example `curl https://fulcio.sigstore.dev/api/v2/trustBundle`

Cosign is using the v2 API currently, we switched over to gRPC.

[2022-07-18 03:44] haydentherapper commented on #689
Actually, it looks like there's a bug:

[code]

`certificates` should be multiple strings, not one concatenated. Will look at this tomorrow.

[2022-07-18 20:07] bobcallaway opened #691 "unit tests fail only in GHA but not locally"
**Description**

https://github.com/sigstore/fulcio/runs/7397026209?check_suite_focus=true

[code]

[2022-07-20 18:17] haydentherapper opened #698 "Create a specification for issued certificates"
**Description**

Requirements:
* One SAN
* IDP OID is populated

Optional
* GitHub OIDs are populated

(WIP list)

[2022-07-20 19:25] haydentherapper commented on #12
Going to mark this as fixed.

* We have an intermediate now.
* There's no reason to disable the root. We can restrict CA administration to only admin accounts. An attacker who controls an administrative account could turn the root back on. We will be adding audit logging for access to critical resources too.
* Rotation will be done through the distribution of TUF targets.

[2022-07-20 19:25] #12 closed

[2022-07-20 19:27] haydentherapper commented on #66
@dlorenc, is this something you want to explore still?

I don't think we need to pursue this anymore since we encourage the use of ephemeral keys by default.

[2022-07-20 19:40] dlorenc commented on #66
We can drop this one.

[2022-07-20 19:40] #66 closed

[2022-07-20 20:17] bobcallaway commented on #672
We will be re-enabling device flow support soon, which will allow you to copy and paste a code into a system that does have a browser to drive the authentication flow forward according to https://datatracker.ietf.org/doc/html/rfc8628.

[2022-07-20 20:43] #689 closed

[2022-07-20 20:44] haydentherapper commented on #691
Seems like a flake, but no longer occurring. Will reopen if it happens again.

[2022-07-20 20:44] #691 closed

[2022-07-20 20:59] haydentherapper commented on #303
Closing this issue, since we are only using the file CA for testing and it's been working well. @n3wscott if you have code you wanted to commit for this, feel free to reopen when you do.

[2022-07-20 20:59] #303 closed

[2022-07-21 20:58] haydentherapper opened #699 "Update certificate issuance doc"
**Description**

- [x] Discuss short lived certificates and how they work in the ecosystem
- [x] Update list of signing backends
- [x] Note that the CT log is separate from Rekor
- [x] Explain SCT in more detail
- [x] Update image in section 7, SCT is now embedded
- [x] Update image in section 6 for embedded flow
- [x] Proofread

[2022-07-21 20:59] haydentherapper commented on #699
Hey @nsmith5, how did you create the images for https://github.com/sigstore/fulcio/blob/main/docs/how-certificate-issuing-works.md? Do you have editable versions of these?

[2022-07-22 02:48] nsmith5 commented on #699
Made them all with excalidraw and the source is embedded in the image so
you can open there and edit any of them

On Thu, Jul 21, 2022, 2:00 PM Hayden B ***@***.***> wrote:

[2022-08-01 21:04] haydentherapper opened #716 "Enforce that identities are of an expected format"
**Description**

Dex - Look like email, K8S - Look like a service account, Username - Doesn't look like an email, etc

Context: https://docs.google.com/document/d/1o8_bXIygufgiohJGlmBzqF4_BnXCTfgh4ILgJFJxYRs/edit?resourcekey=0-YEar3v67uoT31kj83dCVvA#heading=h.oiw6nn1ucgaq

[2022-08-01 21:10] dlorenc commented on #699
Not sure why this would block GA, the specification work is important too but separate IIUC.

[2022-08-01 21:13] dlorenc commented on #539
Is this still an issue? We did the switch to embedded already.

[2022-08-01 21:13] haydentherapper commented on #699
Docs that are outdated should be blockers, but low priority (P2/3) in my opinion. This is also almost done, just waiting on someone to LGTM the PRs.

[2022-08-01 21:26] dlorenc commented on #539
To make sure I understand, it's still a "bug" if you run with detached SCTs, but we don't run with those in production anymore so that doesn't affect us, but it might affect someone else running with detached SCTs?

[2022-08-01 21:40] haydentherapper commented on #539
That is correct.

If we do nothing, then existing clients will still work, it's just a quirk in the response format that we'd need to document for new clients. If we make this change, then we will need to update all clients.

[2022-08-01 23:24] dlorenc commented on #539
Can we just deprecate/delete that response? I'm not sure anyone is using it or still cares.

[2022-08-01 23:30] dlorenc commented on #699
This feels like an oxymoron - IMO blockers are really only the high priority issues that we MUST have. I don't think it'll come up here but in general there shouldn't be low priority blockers.

[2022-08-01 23:45] haydentherapper commented on #539
It's still needed for GCP CA Service unfortunately, since that doesn't support precertificates/embedded SCTs.

[2022-08-01 23:46] dlorenc commented on #539
Ah, when we use that directly?

Then I think I vote for just not touching this and documenting the issue/quirk.

[2022-08-02 15:13] #699 closed

[2022-08-02 20:49] haydentherapper commented on #539
https://github.com/sigstore/fulcio/pull/718

[2022-08-03 17:27] haydentherapper commented on #275
Closing as this has been wrapped up

[2022-08-03 17:27] #275 closed

[2022-08-03 17:28] haydentherapper commented on #551
Closing, would recommend looking into SPIFFE

[2022-08-03 17:28] #551 closed

[2022-08-03 22:30] znewman01 commented on #716
I'll attempt to summarize the (very long) Google Doc comment thread linked in "Context" above.

Fulcio issues certs with the identity of the issuer in the Subject Alternative Name field. In X.509, the value in this field is a *union type* (see the definition of "GeneralName" in [RFC 5280, 4.2.1.6](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6)) indicating whether the value is, for

[2022-08-03 22:56] woodruffw commented on #716
Thanks for summarizing @znewman01!

Strong +1.

What do we think of a "bang path"-style username syntax, something like `service.com!user`? That avoids some potential ambiguity with email addresses by using the actual user ID as a suffix rather than a prefix, and means that a service where usernames *are* emails (but is not attesting to ownership) would have usernames like this: `foo.com!joe@foo.c

[2022-08-03 23:22] znewman01 commented on #716
(the below might be totally misguided)

Do we need to stick the service name in the SAN at all? It should be clear from the "issuer" field in the cert. My understanding is that we did `user@domain.com` just to make the SAN more "email-like" when we were using the email SAN type (though @haydentherapper may have more context).

This does mean that something like (SAN=`joe@foo.com`, issuer=`bar.com`

[2022-08-04 18:17] woodruffw commented on #716
Hmm, maybe not. I think I was underthinking it 🙂

I *think* we want to avoid marking non-email SANs with the email type, since a strict x509v3 parser would be correct to reject "email" SANs that aren't consistent with RFC822:

   A Mailbox has the form "Local-part@Domain".  Note that a Mailbox has
   no phrase (such as a common name) before it, has no comment (text
   surrounded in parentheses) af

[2022-08-04 18:46] znewman01 commented on #716
+1, I somehow overlooked that the first time around

[2022-08-07 12:58] creeper-0910 opened #723 "fulcio.sigstore.dev is not working"
**fulcio.sigstore.dev is not working**

It appears that fulcio.sigstore.dev returns a 404 when accessed.
Instructions for using the tuf-client in the README can be found at https://raw.githubusercontent.com/sigstore/root-signing/main/repository/repository/~
is not available due to broken links in

[2022-08-07 17:23] haydentherapper commented on #723
Are you trying to access the instance’s certificate chain? It is available at https://fulcio.sigstore.dev/api/v2/trustBundle.

[2022-08-07 22:33] haydentherapper commented on #512
Someone asked this question on go-oidc (https://github.com/coreos/go-oidc/issues/332), and I'm satisfied enough with the answer to mark this as won't fix. A provider shouldn't change the jwks_uri without notification, and historically, this has never happened with other providers.

[2022-08-07 22:33] #512 closed

[2022-08-07 22:36] haydentherapper commented on #723
Note that fulcio.sigstore.dev does return a 404 as expected, nothing is served from that URL. See the [proto definition](https://github.com/sigstore/fulcio/blob/main/fulcio.proto) for available methods.

As for TUF, the Fulcio certificate chain is securely provided in the TUF repository. If you're using Sigstore, this is handled automatically, or with `cosign initialize.`

Feel free to ping the is

[2022-08-07 22:36] #723 closed

[2022-08-07 23:24] jcotton42 commented on #250
Any update on this? Free signing for Windows and macOS apps would be pretty great.

[2022-08-08 13:58] haydentherapper commented on #250
There are no current plans to include the Fulcio root in the macOS or Windows trust stores. The way that Sigstore manages and updates its roots of trust (through [TheUpdateFramework](https://theupdateframework.io/) is incompatible with the OSs' trust store requirements.

As for the short expiration, Authenticode supports including a [signed timestamp](https://docs.microsoft.com/en-us/windows/win32

[2022-08-08 15:35] znewman01 opened #729 "Is Dex a distinct issuer? Or just part of Fulcio?"
From conversation on [Sigstore clients should require a provided identity](https://docs.google.com/document/d/1o8_bXIygufgiohJGlmBzqF4_BnXCTfgh4ILgJFJxYRs/edit?resourcekey=0-YEar3v67uoT31kj83dCVvA#):

I'm inclined to agree with Hayden here, but we should make a decision and document it. Additionally, we should make a plan for revocation.

[2022-08-08 15:58] znewman01 commented on #676
I agree in principle that `sigstore/sigstore` is the right place. However, there's an issue in my mind: `sigstore/sigstore` conflates two roles: (1) common code for the Sigstore services, and (2) a Sigstore Golang client.

These make it pretty hard to disentangle what goes where. I'd expect a client library to take a dependency on `sigstore/fulcio` and `sigstore/rekor` (for the protos, at least),

[2022-08-08 19:17] bobcallaway commented on #672
This needs to merge: https://github.com/sigstore/sigstore/pull/602 and have a release cut with it in it

Cosign then needs to adopt the updated call, and we need to rollout an updated version of Dex (based on v2.33.0) into staging.

[2022-08-11 10:52] vaikas commented on #589
I'd be happy to help with this effort if help is needed :)

Since this issue is under Fulcio, I'd like to clarify the discussion about having multiple CT Log instances and 'ingress routing'. I'm not clear if we're talking about adding support for a single Fulcio to be able to write to multiple CTLogs based on some criteria (hence the question about ingress routing). Bear with me while I get my und

[2022-08-11 17:39] vaikas commented on #589
That all sounds great, thanks! That's how I roughly understood things, but got confused by some comment in some other bug, so just wanted to double-check :)

The one other thing (that's probably discussed elsewhere) is the "reverse" of this. When Fulcio Cert rotates, the new cert must be added to the trusted certs on the CT Log side. I looked quickly, but didn't see an issue for this, is there one

[2022-08-11 17:41] vaikas commented on #589
Re: separate database, if we do that, then we'll basically have 1:1 of
Fulcio - CTLog - Trillian - mysql

So all four get operated as a "single entity"?
If so, kneejerk response is that I think it makes things easier to operate.

[2022-08-11 19:29] haydentherapper commented on #589
That is a good question. Right now, the root is automatically fetched when createctconfig is run. https://github.com/haydentherapper/scaffolding/blob/079be7cd54dd47bb0df9ac1af3193f765986f3bc/cmd/ctlog/createctconfig/main.go#L106
Can it be rerun to fetch the latest root? If not, can you create an issue for this?

It should be the same configuration since CT is backed by Trillian.

Yes, that would b

[2022-08-12 03:45] vaikas commented on #589
Yeah, I remember that code :) That's part of the reason I was asking. In particular if we have the 1:1 stack that gets operated as a single entity, then we'll have a case where we might need to rotate a Fulcio key. Would that trigger a new Stack creation (new ctlog, trillian, etc.), or merely we upgrade the cert for Fulcio and roll it out. If we do that, then we need to add that new cert of Fulcio

[2022-08-12 14:19] haydentherapper commented on #589
I would say no. I separate the two - Fulcio cert would be rotated due to expiration for example, which might happen mid year, or in an emergency due to compromise. The log sharding will happen yearly to keep size down (or in the event of a compromise of the CT log key).

I think we need to do the work you specified in the ticket. Maybe allowing for you to manually specify the root certificates in

[2022-08-12 17:02] haydentherapper commented on #589
Something to mention, the root rotation will be very infrequent. Fulcio is configured with an intermediate certificate - that might change if we change the signing key for fulcio, but the intermediate doesn’t have to be distributed to the log. Still need a mechanism in place, but it’ll be used not very often.

[2022-08-13 11:59] dlorenc commented on #612
IMO the probers we have are sufficient for GA, although they can always be improved.

[2022-08-14 22:06] haydentherapper commented on #589
Haven’t dug into this much to see if it’s useful, but there is some configuration options for limiting when logs will accept entires https://github.com/google/certificate-transparency-go/blob/master/trillian/docs/Operation.md#temporal-sharding

[2022-08-15 06:59] vaikas commented on #589
Yeah, I was looking at:
https://letsencrypt.org/2019/11/20/how-le-runs-ct-logs.html

Which had links to here:
https://www.venafi.com/blog/how-temporal-sharding-helps-ease-challenge-growing-log-scale
https://www.digicert.com/blog/scaling-certificate-transparency-logs-temporal-sharding

For some prior art as well.

[2022-08-16 04:40] pauldthomson opened #738 "MacOS can't re-bind to abstract Unix Domain Socket"
**Description**

When running the server via `go run main.go serve ...`, I get the following error (after a `ctrl-c` and re-run):
[code]
even though the socket isn't listed with `netstat`.

The issue seems to be MacOS-specific as an Ubuntu VM (via `lima`) doesn't have the same issue.

[2022-08-16 12:21] kushaldas opened #740 "Request to add eduGAIN as IdP"
**Description**

This is a request to add [eduGAIN](https://edugain.org/) to the trusted IdP list. eduGAIN provides an interface to access over 70+ identity federations around the world. This will enable researchers and students from all those different institutes (over 4500 identity providers) to use sigstore.

- https://technical.edugain.org/status is the URL to see all federations under eduGAIN

[2022-08-16 12:32] dlorenc commented on #740
Thank you for the details! Can you share the discovery URL?

Would there be any way to have an allow list of email domains that eduGAIN is allowed to issue certificates for? I assume they're all .edu, but is there any other type of list we could use?

[2022-08-16 13:01] leifj commented on #740
eduGAIN (edugain.org) is a big federation  - about 6000-10000 orgs - in research and edugain. Each org runs their own IdP. If we the project decides to go ahead with this edugain would deploy a gateway OP for sigstore. To answer your second question; edugain covers much more than the US so its not just .edu

[2022-08-16 15:32] haydentherapper commented on #740
Assuming the identity is an email, we can either add this as an `email` OIDC issuer or under Dex.

Before adding any new IDPs, I'd like to make sure the new IDPs meet the requirements under https://github.com/sigstore/fulcio/issues/397.

[2022-08-18 09:20] leifj commented on #740
The requirements look reasonable at first glance. Some questions/thoughts inline:

- [ ] As pointed out in the meeting, Dex allows us to restrict the lifetime of issued tokens. Lifetime isn't included in the hosted openid-configuration, so this may have to just be an audit and not enforced (beyond rejecting tokens that are over a certain lifetime, but at that point, the token's already been sent o

[2022-08-19 13:30] fkorotkov opened #748 "Add support for Cirrus CI tokens"
disclaimer: I'm one of engineers working on Cirrus CI.

[Cirrus CI](https://cirrus-ci.org/) exposes an OIDC token via `$CIRRUS OIDC_TOKEN` and allows overriding the audience via setting `$CIRRUS_OIDC_TOKEN_AUDIENCE` variable.

I'm following up [this comment](https://github.com/npm/rfcs/pull/626#discussion_r950016790) from the NPM's RFC. I wonder what will it take to add to add support for Cirrus C

[2022-08-19 15:12] feelepxyz commented on #748
There is this issue laying out some requirements for new IdPs: https://github.com/sigstore/fulcio/issues/397

As one of the [comments on this issue](https://github.com/sigstore/fulcio/issues/397#issuecomment-1042438590), do we need to expand the list of [cert's SAN OIDs](https://github.com/sigstore/fulcio/blob/c74e2cfb763dd32def5dc921ff49f579fa262d96/docs/oid-info.md) as it currently only includes

[2022-08-19 16:10] haydentherapper commented on #740
Thanks for going through these! We're planning to formalize these, as they're a little rough and unclear at the moment.

To confirm, the expectation is that identities cannot be reused, enforced by the backend? In this case, there was some bug?

To me, this is not a hard requirement on how keys are stored, just a policy and adequate protection. For example, using either a key management service li

[2022-08-19 17:46] haydentherapper commented on #748
Hey! To implement, either we will need to add a new IDP type, or restructure the github-workflows type. My guess is it'll be simpler to have some code duplication now and add a new type, until we can make the CI workflows generic. You'll need to:

* Add the new type ID here - https://github.com/sigstore/fulcio/blob/509c7892587969471e04959b8bc9246f7389b88d/pkg/config/config.go#L211
* Add the claim

[2022-08-20 02:32] dlorenc commented on #748
Either works for me. Renaming is simpler, no idea if that's frowned upon though.

[2022-08-20 03:01] fproulx-boostsecurity commented on #591
They shipped. so can this be added soon ?

[2022-08-20 05:05] nsmith5 commented on #591
No, they don't support customizable 'aud' yet afaik so we can't support in
Fulcio yet. See the attached feature request in canny for details

On Fri, Aug 19, 2022, 8:01 PM François Proulx ***@***.***>
wrote:

[2022-08-20 19:18] #738 closed

[2022-08-22 16:33] fkorotkov commented on #748
It seems in case of Cirrus CI's OIDC token it will already kind of work because we set `iss` claim as `https://oidc.cirrus-ci.com/` which will work with your `uri` SAN. At least it seems so from the code...

From the discussion here and #397 it seems reasonable to wait for the "standardize the list of claims for CI IDPs". Right now the GHA's one has two very specific ones: `GithubWorkflowTrigger`

[2022-08-23 13:12] dlorenc commented on #748
This sounds good! I think we should probably get a document started for these new claims. Do you want to track them here @fkorotkov? Or we could use markdown in a PR.

[2022-08-23 13:27] fkorotkov commented on #748
@fkorotkov up to you. But I think since the goal is to have a generic set of claims it doesn't make sense to track it in this PR? You all are the most knowledgeable people here, I can only input on the CI-related stuff.

[2022-08-23 14:43] haydentherapper commented on #748
I’ll open a new issue in Fulcio to discuss more.

[2022-08-23 20:22] chantra opened #753 "v1.fulcio.sigstore.dev returns k8s ingress controller fake cert"
**Description**

v1.fulcio.sigstore.dev fails TLS validation because it returns a k8s cert:
[code]

fulcio.sigstore.dev does return a valid cert with alt names for fulcio.sigstore.dev and v1.fulcio.sigstore.dev

 v1.fulcio.sigstore.dev:
[code]

fulcio.sigstore.dev:

[code]
**Version**

[2022-08-23 20:51] haydentherapper commented on #753
@bobcallaway

[2022-08-23 20:52] haydentherapper commented on #753
Please switch to “fulcio.Sigstore.dev”

[2022-08-23 21:08] haydentherapper commented on #753
Please switch to `fulcio.sigstore.dev`. `v1.fulcio.sigstore.dev` was deprecated awhile ago, though we are actively working on adding in routing to avoid breaking anyone using it.

[2022-08-23 21:40] chantra commented on #753
yes, I am attempted to update the github action to track main (v1.11.0) which hopefully takes care of calling the right endpoint.

I felt it was worth reporting given that the host serving `fulcio.sigstore.dev` does have `v1.fulcio.sigstore.dev` in its alternate names.

[2022-08-23 22:02] haydentherapper commented on #753
Thanks you for reporting this! It should be fixed now.

[2022-08-23 22:54] #753 closed

[2022-08-23 23:18] haydentherapper opened #754 "Standardizing CI OIDC token claims"
## Goal

Create a standard set of claims that should be present in OIDC tokens from CI systems such as GitHub Actions, Cirrus CI, GitLab, Circle CI, etc.

## Background

As noted in the NPM RFC for integrating with Sigstore, and as documented in other tickets (https://github.com/sigstore/fulcio/issues/243, https://github.com/sigstore/fulcio/issues/591, https://github.com/sigstore/fulcio/issues/748

[2022-08-23 23:26] wlynch commented on #754
Another useful data point, [Tekton](https://tekton.dev) (which is also drives other tools like JenkinsX), which would be limited by the [Kubernetes JWT workload claims](https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-bound-service-account-tokens).

[2022-08-24 16:22] asraa commented on #754
I'm actually on the side that it should not: these values can easily be added inside a signed attestation -- this is very much like recreating provenance inside a signing certificate. See https://github.com/slsa-framework/slsa/issues/464 related issue. The signing cert contains enough builder information that "You could think of the x509 builder as a first-stage builder, which is limited but sets

[2022-08-24 18:26] haydentherapper commented on #754
Thanks for noting this, I've removed this from the issue description so it's now required.

I am in agreement, I believe Laurent as well from the discussion.

I think we should be building verification policies around IDs and not human-readable values. I do agree it's harder for a human to validate it though, but I think this can be solved with better UX.

[2022-08-24 23:53] bdehamer commented on #754
Related to the `job_workflow_ref` and `workflow` claims in token issued by GitHub Actions . . .

The `job_workflow_ref` claim provides the full path to the _called_ workflow:

[code]

Whereas the `workflow` claim only identifies the logical name of the _calling_ workflow:

[code]

This name isn't guaranteed to be unique across the workflows defined in a particular repo so this isn't particularly u

[2022-08-25 02:50] laurentsimon commented on #754
Maybe a broader question is whether you see Sigstore as a building block / "root of trust" for "richer" systems (re-usable workflows and similar systems) or not. I think @asraa 's point is that the RoT is enough; and if the Sigstore community agrees with this you don't need to keep adding more fields in the OIDC token / cert. But +1 on agreeing on the set of minimum claims, like workflow(s), ref(s

[2022-08-25 16:33] laurentsimon commented on #754
+1 on having them, and asking GH to support it including for re-usable workflows if it's not available yet.

self-hosted runners have access to OIDC. You need a round-trip to verify this unless it's added into OIDC token (we asked GH to do that, so it may happen in the future). One additional complexity is that it's possible for a workflow to declare jobs self-hosted and others not.
Note" the trus

[2022-08-25 18:17] znewman01 commented on #754
TY! That helps.

Let's move this conversation over to https://github.com/slsa-framework/slsa-github-generator/issues/763; apologies for the distraction from the root issue in this thread 😄

[2022-08-25 22:44] bdehamer commented on #754
I don't know, but I'll try and track down the team here responsible for this stuff and make some inquiries.

Yeah, there's a `GET /repositories/:id` endpoint that will look-up a repo based solely on its ID (and the ID persists across renames and ownership changes)

[2022-08-26 16:02] trixor commented on #612
@lukehinds @dlorenc what are your thoughts on if this needs to be a GA Blocker or not?

[2022-08-26 18:26] haydentherapper opened #766 "Fulcio 1.0"
- [x] https://github.com/sigstore/fulcio/issues/716
- [ ] https://github.com/sigstore/fulcio/issues/589

[2022-08-31 20:29] haydentherapper commented on #639
I don't know the best issue to ask this on, but to avoid creating another issue, I'll just throw this question here:

Should we recommend against users signing artifacts released on a platform with the same identity as the platform's identity? As in, if I release my artifacts via GitHub, should I use a different identity provider than GitHub to sign artifacts? This reduces the risk associated with

[2022-09-01 07:09] Adrianotiger commented on #250
I really hope, Microsoft can find a solution for this...
![image](https://user-images.githubusercontent.com/7373079/187853383-892be8df-742a-4612-9545-48123995f194.png)

Maybe integrating Fulcio for open source projects.

[2022-09-01 11:15] znewman01 commented on #639
Good question.

I think this is starting to get somewhat out-of-scope for Sigstore itself, because it really depends on your threat model. Further, this is really a matter for whatever tools is enforcing policy, not the Sigstore infra itself. That said, I think there's a place for us to provide suggested usage patterns and mention trade-offs.

For GitHub specifically, I think the question is ill-d

[2022-09-01 16:04] priyawadhwa commented on #716
Hey @haydentherapper ! I brought this to the TSC and they requested it be broken down into smaller issues for each thing that needs to be done. Then they can prioritize into which should be GA blockers and which can be done post-GA.

Could you break this down into smaller issues?

[2022-09-01 16:22] znewman01 commented on #716
Most of the above is just context/motivation; the actual work is pretty bite-sized.

Basically, for each type of identity we issue, just add a quick validity check on the format (e.g. regex match `.*@.*` for emails).

[2022-09-01 16:39] priyawadhwa commented on #716
Gotcha, so we just need to add in a regex for the following?

- [ ] emails
- [ ] service accounts
- [ ] usernames

[2022-09-01 18:06] haydentherapper commented on #716
Thanks Zach, yep, that's pretty much it!

The other thing would be reading all entries in the log to see if there's any that would be affected by this change.

[2022-09-01 18:31] haydentherapper commented on #639
I'm wondering if this should be part of the client specification in the architecture docs - Recommended but not enforced behavior. Or maybe a section on recommended policy?

Artifact releases, for example binaries. Let's assume the identity that verifiers need to verify against is specified outside the repository (otherwise, a compromise of the GitHub account would result in both the binary and wh

[2022-09-01 20:08] znewman01 commented on #639
I think that could make sense for the "our deployment-specific" client documentation.

IMO that's much more important. I don't worry about "signing and deploying with the same credentials" until we have a story for "how do I even know what credentials to use to verify". And honestly I think, as a matter of policy, the GitHub signer/releaser issue should be addressed as part of that guidance, not b

[2022-09-02 16:49] haydentherapper commented on #766
Adding https://github.com/sigstore/fulcio/issues/589 which is also tracked in public good instance

[2022-09-09 19:41] wlynch opened #778 "Proposal: Kubernetes Pod Details OID"
**Description**

We should add more details about Kubernetes based OIDC tokens in certificates to ID pods / service accounts.

Currently we only include the service account / cluster, i.e.

[code]
https://rekor.tlog.dev/?logIndex=3405075

We actually already parse out all of the claims, but we don't include them in the cert:

https://github.com/sigstore/fulcio/blob/6b5f9aecf50803569ebda6e064561fd0

[2022-09-10 01:14] haydentherapper commented on #778
cc @asraa @laurentsimon curious what y’all think about this. We’ve had a similar conversation about additional metadata in the certificate for GHA workflows and decided that is more about provenance metadata rather than identity.

Are Name and UID representative of the same identity?

My initial thought is we represent the service account in the certificate and scope it to a namespace, and that sh

[2022-09-10 01:23] haydentherapper commented on #778
There's also some prior art for this representation of an identity with Istio certificates, which take the format `spiffe://trustdomain/ns/<namespace>/sa/<service account>`

[2022-09-12 08:17] haydentherapper commented on #672
Closing as device flow has been enabled.

[2022-09-12 08:17] #672 closed

[2022-09-12 19:20] nsmith5 commented on #591
This work is now planned at CircleCI https://circleci.canny.io/cloud-feature-requests/p/customizable-audience-claim-in-oidc-tokens

[2022-09-13 08:53] dlorenc commented on #748
Do we have enough of a set of claims that we can try to add this one?

[2022-09-13 13:10] haydentherapper commented on #748
A lack of run attempts shouldn't be a blocker, we don't encode that in the identity. Do you possibly have a one to one mapping between the necessary GitHub claims? In particular, is there anything like `job_workflow_ref`?

An example of what's required:

[code]

[2022-09-13 14:09] fkorotkov commented on #748
- `job_workflow_ref` can be constructed from other claims. In our case the config can only be defined in `.cirrus.yml` and/or `.cirrus.star` files so there is no need to provide a "workflow path". `job_workflow_ref == "${owner}/${repository}@${ref}"`
- `sha` is the same as `change_in_repo`
- `event_name` not yet supported
- `repository` looks like a full name so it will be equal to `"${owner}/${re

[2022-09-14 15:19] asraa commented on #778
+1 on the general notion of sub-directories based on types

I think this should be the case -- the namespace is still a grouping of pods. Having identification of pods means if sharing resources between individual compute resources, they can be identified.

I can't decide if pods are analagous to jobs or workflows in the GHA case, but either way, I think if job-identification could occur in GHA, w

[2022-09-21 15:51] trevrosen commented on #612
I'm not seeing this as a GA blocker, but it would be a good fast-follow issue, possibly for my team to tackle.

cc: @codysoyland @kommendorkapten

[2022-09-21 23:01] dlorenc commented on #716
Are there any updates here? Are we still considering this as a blocker for 1.0?

[2022-09-21 23:02] haydentherapper commented on #716
Yes, because it's a breaking change. I'm not concerned about its impact on GA, just making a post 1.0 change. Planning on doing this very soon.

[2022-09-21 23:15] dlorenc commented on #716
IMO its debatable on whether this is breaking or not, we're not changing the API and only disabling things that shouldn't happen anyway.

I'm -1 on this being a 1.0 stopper.

[2022-09-22 00:25] haydentherapper commented on #612
Not a blocker sounds good.

[2022-09-22 14:05] znewman01 commented on #716
I just grabbed all the Fulcio certs (1m, about 5 GB) using this [fulcio_dump.sh](https://gist.github.com/znewman01/a220c993a580b3a5ae7a7deafc9ee8da) script so we can pretty easily tell if it's breaking. tl;dr it doesn't look like it for the obvious regexes.

We can pull out the SANs:

[code]

And then do some ad hoc analysis:

[code]

And test out regexes:

[code]

[2022-09-23 17:54] haydentherapper commented on #716
Working on this now, and making the change to the username format.

[2022-09-26 16:53] salrashid123 opened #800 "Issue cert with OIDC custom claims"
Question regarding how custom claims within a provided OIDC token can get baked into the issued cert

Currently, the issued cert emits the email as SAN and [custom OID](https://github.com/sigstore/fulcio/blob/main/docs/oid-info.md)  that denotes stuff like the issuer

GCP OIDC tokens minted in certain environments like GCE can include some interesting claims described [here](https://cloud.google.c

[2022-09-26 18:09] venum6 opened #801 "Mentorship request for <Abhishek mishra >"
**About**

**Skills**

**Interest areas**

[2022-09-26 18:38] haydentherapper commented on #800
Check out https://github.com/sigstore/fulcio/issues/624. This seems like a similar issue, whether or not include provenance into the certificate. Ultimately we decided that Fulcio should just be for identity, and provenance should go into an attestation.

[2022-09-26 20:33] haydentherapper commented on #801
Hi! Were you looking for material to learn more about Fulcio?

[2022-09-27 00:14] znewman01 commented on #475
IMO in any scenario where the ephemeral key leaks, the OIDC token could leak too so this doesn't really solve the issue. "My laptop is owned" isn't really a threat model I think we're ever going to be able to handle.

A better solution here is generate the keys inside a touch-gated enclave or similar and bind them to the OIDC token (DPoP). This doesn't solve the problem, of course, but nothing wil

[2022-09-27 17:28] haydentherapper commented on #800
I think this is a little different. For the source repo specification, we're looking at embedding a standard set of claims from source repos like GitHub/GitLab/etc that only refer to the identity of a worker running CI jobs. For pod ID for k8s, this is an active discussion around if the pod is needed to uniquely identify the subject of the certificate.

For GCE, this would include metadata about h

[2022-09-27 18:24] salrashid123 commented on #800
the GCE identity document actually includes info that uniquely idenfies that specific VM instance (the `google.compute_engine.instance_id` is globally unique so it'd kinda identify where its run with precision (vs a svc account identity which could be any vm in the instance group (or me on my laptop impersonating the svc account; if i impersonated the svc account from the laptop and got its oidc t

[2022-10-03 16:24] haydentherapper commented on #801
Please let me know if you have questions!

[2022-10-03 16:24] #801 closed

[2022-10-03 19:32] venum6 commented on #801
Nopes

[2022-10-03 19:35] venum6 opened #807 "Mentorship request for <Abhishek mishra >"
**About**

**Skills**

**Interest areas**

[2022-10-03 20:03] bobcallaway commented on #807
hi @venum6 ! Can you provide any more info around areas of interest?

[2022-10-07 17:54] #807 closed

[2022-10-07 19:02] haydentherapper opened #817 "Switch to a containerized protoc for generated code"
**Description**

See https://github.com/namely/docker-protoc

This solves the issue of a mismatch between the locally installed protoc and the one used to check for updated generated code in the GHA workflow.

[2022-10-11 09:27] vaikas commented on #589
Sounds good to me, I'll tackle next week, getting late here🤣

On Fri, Aug 12, 2022, 17:19 Hayden B ***@***.***> wrote:

[2022-10-18 18:09] priyawadhwa commented on #766
this is done and rolled out to prod!

[2022-10-18 18:09] #766 closed

[2022-10-18 19:09] bobcallaway opened #840 "intermittent test failure in GRPC"
**Description**

As seen in https://github.com/sigstore/fulcio/actions/runs/3276150029/jobs/5391859692, we occasionally see test failures due to a URL parsing issue:

[code]

**Version**

HEAD

[2022-10-21 12:42] bobcallaway commented on #840
was able to recreate locally:

[code]

[2022-10-21 15:14] haydentherapper commented on #840
https://giphy.com/gifs/theoffice-MZocLC5dJprPTcrm65

[2022-10-21 21:27] trevrosen commented on #754
I'd like to jumpstart some movement on this issue if possible, as we're regarding it pretty important for our work on [npm attestations](https://github.com/npm/rfcs/blob/link-packages-to-source-and-build/accepted/0000-link-packages-to-source-and-build.md), especially now that we have begun to reach out to some potential launch partners (read: cloud CI vendors with existing OIDC support) to talk ab

[2022-10-21 21:31] #840 closed

[2022-10-23 17:49] haydentherapper commented on #15
Closing, I don’t see a need for pub sub pushing of issued certificates if this is implemented in Rekor.

[2022-10-23 17:49] #15 closed

[2022-10-23 17:50] haydentherapper commented on #373
Work is complete

[2022-10-23 17:50] #373 closed

[2022-10-23 18:00] justbaileym commented on #817
Generating the protobuf clients with `namely/protoc-all` latest has some changes, which are probably somewhat expected, with the different versions of the various libraries.

I think it's because they update a few different things, and don't tag with protoc versions or other ones, but their own versions, but if we moved all uses to their version, at least we could use that consistently.

Here is t

[2022-10-24 04:56] haydentherapper commented on #817
Thanks for taking a look at this! Only concern is some of the swagger doc updates, though we saw something similar in https://github.com/sigstore/fulcio/pull/835, but I haven't had a chance to dig much into it.

[2022-10-24 16:03] 9072997 commented on #250
Just a note here, but Smart Screen (which IMHO is the main reason to sign code on Windows) treats OV and EV certificates differently. EV certificates are trusted by default (assuming the CA is trusted) while OV certificates just allow you to pool the reputation of all the executables they have signed. Here are some examples:

- You don't sign your code. You release MyApp-v1.exe. People get smart s

[2022-10-24 16:41] #589 closed

[2022-10-24 22:17] haydentherapper commented on #754
Let's get a chat going either on Slack or here, there hasn't been any progress.

[2022-10-25 23:09] equeim commented on #250
Another reason for code signing is that it is needed for "modern" Windows 10/11 applications.
Modern Windows 10/11 apps are *required* to be either:
1. Published in Microsoft Store (in which case they are automatically signed my Microsoft's certificate)
2. Packaged using MSIX format and signed with expensive certificate that you bought from CA that Microsoft trusts. If you don't do that then it wo

[2022-10-27 22:15] woodruffw opened #863 "Ambiguous CSR behavior: Fulcio accepts CSRs with email subjects that aren't emails"
I noticed this while doing a read-through of `sigstore-python`'s signing code: we currently construct a CSR like so:

[code]

...where `oidc_identity.proof` is the value of either the `email` or `sub` claim, depending on the kind of OIDC JWT being used.

For OIDC JWTs that attest to email identities, this makes sense: we're sending a CSR with a `SubjectName` that's an email address. It doesn't mak

[2022-10-27 22:15] woodruffw commented on #863
cc @di for visibility.

[2022-10-28 03:55] haydentherapper commented on #863
I'd actually say this is working as intended.

https://github.com/sigstore/fulcio/blob/main/fulcio.proto#L102 notes that al values, besides the public key, are ignored in the CSR. As for the proof of possession challenge, we don't care what you are signing over, just that you can generate a valid signature using a private key that can be verified with the CSRs public key. You could put total gibbe

[2022-10-28 03:56] haydentherapper commented on #863
Addendum: Some code snippets:
* We ignore the subject in the CSR. The subject always comes from the ID token/credential - https://github.com/sigstore/fulcio/blob/main/pkg/server/grpc_server.go#L82
* We only care that the CSR signature is verifiable with the public key in the CSR - https://github.com/sigstore/fulcio/blob/main/pkg/server/grpc_server.go#L103

[2022-10-28 14:18] woodruffw commented on #863
Thanks for explaining, and for the code snippets! It's good to know all of those fields are explicitly ignored.

Yeah, I see no actual attack vector here -- it's just something that stood out to me during a review of our own code on `sigstore-python`. I'm always in favor of [stricter validation where possible](http://langsec.org/occupy/), but I'm not too familiar with the CSR ecosystem and I can u

[2022-11-16 03:04] sj26 opened #889 "Add Buildkite to federation"
**Description**

Hi! I'm Sam, I'm an engineer at [Buildkite](https://buildkite.com). We've been working on providing OIDC tokens within Buildkite pipelines, for CI/CD workloads. I'd like to be able to use Buildkite OIDC tokens to sign containers produced by my builds.

We have a command which can be run within a build to provision an OIDC token with a custom audience, asserting the current job and